/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  overflow-x: hidden;
  padding-top: 3rem;
  color: #FFFFFFD9;
  background: url('/static/images/bckg.webp') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* rtl:end:ignore */

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* Thin out the marketing headings */
.featurette-contact {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 40px;
  }

  .featurette-contact {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }

  .featurette-contact {
    margin-top: 2rem;
  }
}

#container {
  margin: 0 auto;
}

.stripe {
  content: "";
  background-color: #292929b2;
  height: 100%;
}

.header_logo {
  width: 2em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.circeled {
  border: 2px solid #FFFFFFD9;
  border-radius: 50%;
  display: inline-block;
  height: 140px;
  width: 140px;
  line-height: 140px !important;
  vertical-align: middle;

}

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFFD9;
}

.nav-active {
  border-radius: 0.25rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.infocontent{
    color: black;
}
.infolink {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}
.listlink {
    color: black;
    text-decoration: none;
}

.ck-editor__editable[role="textbox"] { min-height: 200px; }

.ck-content .image {
    max-width: 100%;
    margin: 20px auto;
}

.ck.ck-editor__main>.ck-editor__editable { background-color: #343a40 !important; }

.btn{
  color: #FFFFFFD9 !important;
}

.white-link{
  text-decoration: none;
  color: #FFFFFFD9;
}

.white-link:hover{
  color: #0080FF;
}

table{
  color: #FFFFFFD9 !important;
}

.main-page-img{
    max-height: 3em;
}

.lead-justify{
  text-align: justify;
}

.lead-center{
  text-align: center;
}

.lead{
  font-size: 1.10rem;
}