{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block desc %}404{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="alert alert-danger text-center" role="alert">
        <br>
        <b>Erreur 404 - Authentification requise !</b>
        <br>
        <br>
        La ressource que vous recherchez n'est pas accessible ou vous n'avez pas les droits suffisants pour y accèder !
        <br>
        <br>
    </div>
</div>
{% endblock %}