{% extends "base.html" %}
{% block title %}Liste des utilisateurs{% endblock %}
{% block desc %}Liste des utilisateurs{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
	<div class="row stripe">
		<div class="featurette p-2">
			<div class="col-md-12 row">
				<h2 class="featurette-heading text-start">Sécurité et vérouillage</h2>
				<div class="row">
					<div class="col-6 align-middle">
						<form id="form-mail" class="form" action="#" method="post">
							<div class="row g-3">
								<div class="col-6">
									<input type="submit" name="submit-verouillage" class="btn btn-danger btn-md" value="Vérouiller les inscriptions">
								</div>
								<div class="col-6">
									{% if locked %} <i class="fa-solid fa-xmark fa-1x" style="color:red; margin-right: 10px;"></i> VÉROUILLAGE ACTIF {% else %} <i class="fa-solid fa-check fa-1x" style="color:green; margin-right: 10px;"></i> Pas de vérouilage {% endif %}
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="featurette-divider">
	<div class="row stripe">
        <div class="featurette p-2">
            <div class="col-md-12">
                <h2 class="featurette-heading text-start">Mailing général</h2>
                <br>
                <form id="form-mail" class="form" action="#" method="post">
                    <div class="row g-3">
                        <div class="col">
                            <input type="text" name="sujet" id="sujet" class="form-control" placeholder="Sujet" aria-label="sujet">
						</div>
						<div class="form-group mt-12">
							<textarea class="form-control" name="corps" id="editor">
							</textarea>
						</div>
						<div class="form-group mt-4">
							<input type="submit" name="submit-general-mail" class="btn btn-info btn-md" value="Envoyer">
						</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>
<script src="{{ url_for('static',filename='scripts/ckeditor_minify.js') }}"></script>
{% endblock %}