{% extends "base.html" %}
{% block title %}Liste des associations{% endblock %}
{% block desc %}Liste des associations{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe">
        <div class="featurette p-2">
            <div class="col-md-12">
                <h2 class="featurette-heading text-start">Ajouter une association</h2>
                <br>
                <form id="form-asso" class="form" action="#" method="post">
                    <div class="row g-3">
                        <div class="col">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Name" aria-label="name">
                        </div>
                        <div class="col">
                            <input type="text" name="contact" id="contact" class="form-control" placeholder="Contact" aria-label="contact">
                        </div>
                        <div class="col">
                            <select class="form-select" aria-label="Type" name="type" id="type">
                                <option value="telegram">Telegram</option>
                                <option value="discord">Discord</option>
                                <option value="twitter">Twitter</option>
                                <option value="email">Email</option>
                                <option value="autre">Autre</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" name="lat" id="lat" class="form-control" placeholder="Latitude" aria-label="lat">
                        </div>
                        <div class="col">
                            <input type="text" name="lon" id="lon" class="form-control" placeholder="Longitude" aria-label="lon">
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <input type="submit" name="submit-asso" class="btn btn-success btn-md" value="Ajouter">
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row stripe">
        <div class="featurette p-2">
            <div class="col-md-12">
                <table class="table align-middle" style="color:white;background-color: rgb(44, 44, 44);">
                    <caption>Liste des associations enregistrées</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Contact Type</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Longitude</th>
                        <th scope="col"> </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for asso in associations %}
                            <tr>
                                <th scope="row">{{ asso.id }}</th>
                                <td>{{ asso.name }}</td>
                                <td>{{ asso.contact }}</td>
                                <td>{{ asso.contact_type }}</td>
                                <td>{{ asso.lat }}</td>
                                <td>{{ asso.lon }}</td>
                                <td>
                                    <form id="form-delete" class="form" action="" method="post">
                                        <input id="asso-id" name="asso-id" type="hidden" value="{{ asso.id }}">
                                        <td><button onclick="return confirm('Confirmer ?')" name="delete-asso" type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></td>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}