<!DOCTYPE html>
<html lang="fr-fr">

<head>
    {% block head %}

    {% if page == 'home' %}
        <title>FurMap France - Localise les furries près de toi ! - French Furry Map</title>
    {% else %}
        <title>FurMap France - Localise les furries près de toi ! - {% block title %}{% endblock %}</title>
    {% endif %}

    <!-- SEO -->

    <link rel="canonical" href="https://furmap.fr/">

    <meta charset="utf-8">
    <meta name="language" content="fr-fr">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="FurMap fr - French Furry Map - Localise facilement les furries de France près de toi ! Enregistre toi et accède à la carte pour les rencontrer ! - {% block desc %}{% endblock %}">
    <meta name="author" content="KOENIG Guillaume">

    <meta name="keywords"
        content="furmap, furry map, furrymap, map, carte, fur, furry, furries, french furries, french, français, france">

    <meta property="og:ttl" content="345600">
    <meta property="og:url" content="https://furmap.fr/">
    <meta property="og:site_name" content="furmap.fr">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FurMap fr - Localise les furries près de toi !">
    <meta property="og:description"
        content="FurMap fr - French Furry Map - Localise facilement les furries de France près de toi ! Enregistre toi et accède à la carte pour les rencontrer !">
    <meta property="og:image" content="https://furmap.fr/static/images/logoround.png">
    <meta property="og:image:width" content="256">
    <meta property="og:image:height" content="256">

    <meta name="twitter:site" content="furmap.fr">
    <meta name="twitter:card" content="Summary">
    <meta name="twitter:title" content="FurMap fr - Localise les furries près de toi !">
    <meta name="twitter:site" content="@GuillaumeKoenigTncy">
    <meta name="twitter:creator" content="@GuillaumeKoenigTncy">
    <meta name="twitter:image" content="https://furmap.fr/static/images/logoround.png">
    <meta name="twitter:description"
        content="FurMap fr - French Furry Map - Localise facilement les furries de France près de toi ! Enregistre toi et accède à la carte pour les rencontrer !">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static',filename='images/logoround.png') }}">

    <link rel="icon" type="image/webp" sizes="192x192" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="icon" type="image/webp" sizes="32x32" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="icon" type="image/webp" sizes="96x96" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="icon" type="image/webp" sizes="16x16" href="{{ url_for('static',filename='images/logoround.png') }}">
    <link rel="icon" type="image/webp" href="{{ url_for('static',filename='images/logoround.png') }}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static',filename='images/logoround.png') }}">

    <meta name="revisit-after" content="7 days">
    <meta name="robots" content="ALL,NOARCHIVE">

    <meta name="darkreader" content="false">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link href="{{ url_for('static',filename='styles/style_minify.css') }}" type="text/css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "FurMap FR",
          "url": "https://furmap.fr/",
          "logo": "{{ url_for('static',filename='images/logo.jpg') }}"
        }
    </script>

    {% endblock %}
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ENJFGGB1S2"></script>
<script>
    const value = ('; '+document.cookie).split(`; cookie_consent=`).pop().split(';')[0];
    if (value == "yes") {
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-ENJFGGB1S2');
    }
</script>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">

                <a href="{{ url_for('home') }}" title="Logo Home"><img
                        src="{{ url_for('static',filename='images/logoround.png') }}" alt="Furmap FR Logo" title="Furmap FR Logo"
                        class="header_logo"></a>
                <a class="navbar-brand" href="{{ url_for('home') }}" title="Home">&nbsp; FurMap France</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item {{ 'nav-active' if page=='home' }}">
                            <a class="nav-link" href="{{ url_for('home') }}" title="Home"><i
                                    class="fa-solid fa-house"></i> Accueil</a>
                        </li>
                        {% if user_id != None %}
                        <li class="nav-item {{ 'nav-active' if page=='furmap' }}">
                            <a class="nav-link" href="{{ url_for('furmap') }}" title="Carte"><i
                                    class="fa-solid fa-map"></i> Carte</a>
                        </li>
                        <li class="nav-item {{ 'nav-active' if page=='profile' }}">
                            <a class="nav-link" href="{{ url_for('profile') }}" title="Profil"><i
                                    class="fa-solid fa-address-card"></i> Mon profil</a>
                        </li>
                        <li class="nav-item {{ 'nav-active' if page=='recherche' }}">
                            <a class="nav-link" href="{{ url_for('recherche') }}" title="Recherche"><i
                                    class="fa-solid fa-address-book"></i> Membres</a>
                        </li>
                        {% endif %}
                        <li class="nav-item {{ 'nav-active' if page=='faq' }}">
                            <a class="nav-link" href="{{ url_for('faq') }}" title="FAQ"><i
                                    class="fa-solid fa-circle-question"></i> FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/furmapfr" title="Twitter" target="_blank"
                                rel="noopener noreferrer"><i class="fa-brands fa-twitter"></i> Twitter</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            {% if user_id == None %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}" title="Connexion">Connexion <i
                                        class="fa-solid fa-arrow-right-to-bracket"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('register') }}" title="S'enregistrer">S'enregistrer
                                    <i class="fa-solid fa-plus"></i></a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('logout') }}" title="Déconnexion">Déconnexion <i
                                        class="fa-solid fa-arrow-right-from-bracket"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="content">
        <main class="flex-fill">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% block footer %}
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div {% if current_user.is_admin %} class="col-md-4" {% else %} class="col-md-6" {% endif %}>
                            <a class="white-link" href="{{ url_for('legal') }}" title="Mentions légales"><i
                                    class="fa-solid fa-scale-balanced"></i> Mentions légales</a>
                            <br>
                            <a class="white-link" href="{{ url_for('gdpr') }}" title="Protection des données & RGPD"><i
                                class="fa-solid fa-shield"></i> Protection des données & RGPD</a>
                            <br>
                            <a class="white-link" href="{{ url_for('cookies') }}" title="Politique des cookies"><i
                                    class="fa-solid fa-cookie"></i> Politique des cookies</a>
                        </div>
                        <div {% if current_user.is_admin %} class="col-md-4" {% else %} class="col-md-6" {% endif %}>
                            <a class="white-link" href="{{ url_for('changelog') }}" title="Changelog"><i
                                    class="fa-solid fa-list-ol"></i> Changelog</a>
                            <br>
                            <a class="white-link" href="https://gitlab.com/GuillaumeKoenigTncy/furmap" title="GitLab (code source)"><i
                                    class="fa fa-gitlab"></i> GitLab </a>
                        </div>

                        {% if current_user.is_admin %}
                        <div class="col-md-4">
                            <h3>Administration</h3>
                            <a class="white-link" href="{{ url_for('userlist') }}" title="Liste des utilisateurs"><i
                                class="fa-solid fa-list-ul"></i> Utilisateurs</a>
                            | <a class="white-link text-success" href="{{ url_for('userlist', filter='v') }}" title="Liste des utilisateurs"> V</a>
                            | <a class="white-link text-warning" href="{{ url_for('userlist', filter='j') }}" title="Liste des utilisateurs"> J</a>
                            | <a class="white-link text-danger" href="{{ url_for('userlist', filter='r') }}" title="Liste des utilisateurs"> R</a>
                            | <a class="white-link text-danger" href="{{ url_for('userlist', filter='ver') }}" title="Liste des utilisateurs"> V</a>
                            | <a class="white-link text-danger" href="{{ url_for('userlist', filter='res') }}" title="Liste des utilisateurs"> R</a>
                            | <a class="white-link text-danger" href="{{ url_for('userlist', filter='ban') }}" title="Liste des utilisateurs"> B</a>
                            | <a class="white-link text-primary" href="{{ url_for('userlist', filter='dbl') }}" title="Liste des utilisateurs"> DBL</a>
                            <br>
                            <a class="white-link" href="{{ url_for('assolist') }}" title="Liste des associations"><i
                                    class="fa-solid fa-list-ul"></i> Associations</a>
                            <br>
                            <a class="white-link" href="{{ url_for('administration') }}" title="Administartion"><i
                                    class="fa-solid fa-screwdriver-wrench"></i> Administartion</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <span class="text-muted">&copy; 2022-2023 - <img
                            src="{{ url_for('static',filename='images/koenig.webp') }}" loading=”lazy” alt="Logo GK"
                            title="Logo GK" width="25" height="25"> <a class="text-muted" target="_blank"
                            href="https://koenigguillaume.me/" title="KOENIG Guillaume" rel="noopener noreferrer">KOENIG
                            Guillaume</a> - Black_Wolf57 </span>
                </div>
                <div class="col-md-6 text-end">
                    <span>
                        <img src="{{ url_for('static',filename='images/ovh_logo.webp') }}" loading=”lazy” width="25"
                            alt="OVH Logo" title="OVH Logo"> OVH Servers &nbsp;
                        <img src="{{ url_for('static',filename='images/osm_logo.webp') }}" loading=”lazy” width="25"
                            alt="OSM Logo" title="OSM Logo"> OpenStreetMap &nbsp;
                        <img src="{{ url_for('static',filename='images/valid-css-blue.webp') }}" loading=”lazy” alt="CSS NU Logo"
                            title="CSS NU Logo">
                        <img src="{{ url_for('static',filename='images/valid-xhtml10-blue.webp') }}" loading=”lazy” alt="XHTML NU Logo"
                            title="XHTML NU Logo">
                    </span>
                </div>
            </div>
        </div>
    </footer>

    {% endblock %}

    {% if not cookies_check() %}
    <script>
        $(document).ready(function() {
        $('#cookieModal').modal('show');
    });
    </script>

    <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog bg-dark mt-0 mw-100">
            <div class="modal-content bg-dark">
                <div class="modal-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>FurMap.fr utilise un cookie pour réaliser des statistiques de visites (pays d'origine et canal d'arrivé par exemple). En application du RGPD vous devez fournir votre conscentement.</div>
                        <div class="buttons d-flex flex-column flex-lg-row">
                            <button id="cookie-allow-2" class="ms-2 mt-2 btn btn-success btn-sm"  data-mdb-dismiss="modal">Accepter</button>
                            <button id="cookie-disallow-2" class="ms-2 mt-2 btn btn-danger btn-sm"  data-mdb-dismiss="modal">Refuser</button>
                            <a class="ms-2 mt-2 btn btn-secondary btn-sm" href="{{ url_for('cookies') }}">Politique des cookies</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var allow = function () {
            document.cookie = "cookie_consent=yes; SameSite=None; Secure";
            $('#cookieModal').modal('hide');
        };
        document.getElementById('cookie-allow-2').onclick = allow;
        var disallow = function () {
            document.cookie = "cookie_consent=no; SameSite=None; Secure";
            $('#cookieModal').modal('hide');
        };
        document.getElementById('cookie-disallow-2').onclick = disallow;
    </script> 
{% endif %}


</body>

<!-- FontAwesome Icons -->
<script src="https://kit.fontawesome.com/f88b3658f2.js" crossorigin="anonymous"></script>

<!-- Bootstrap core JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

</html>