{% extends "base.html" %}
{% block title %}Changelog{% endblock %}
{% block desc %}Changelog{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe featurette p-2">
		<div class="col-md-12">
			<h1 class="featurette-heading text-center">Changelog</h1>
		</div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette p-3">
		<div class="col-md-12">
			<h2>Changelog</h2>
			<br>

			<h3>[4.1.0] - 2023 - VERSION 4.0.0</h3>
			<p>
				<ul>
					<li>Affichage de la carte du home en asynchrone</li>
					<li>Ajout de page pour le RGPD</li>
					<li>Ajout de page pour les cookies</li>
					<li>Ajout de la gestion des cookies pour Analytics</li>
					<li>Ajout des mails en plain text en plus du HTML</li>
					<li>Ajout d'une whitelist des domaines autorisés à l'inscription</li>
					<li>Ajout d'une blacklist des mot interdit dans les pseudonymes</li>
					<li>Optimisation des images pour le SEO</li>
					<li>Optimisation SEO</li>
					<li>Optimisation du BO de gestion des utilisateurs</li>
				</ul>
			</p>

			<h3>[4.0.0] - 2023 - VERSION 4.0.0</h3>
			<p>
				<ul>
					<li>Bascule de Google Maps vers Open Street Map via Folium et Branca</li>
					<li>Correction orthographiques</li>
					<li>Correction de bugs mineurs</li>
				</ul>
			</p>

			<h3>[3.X.Y] - 11/03/2023 - VERSION 3.X.Y</h3>
			<p>
				<ul>
					<li>Phytonisation des données JS afin de gagner en vitesse d'affichage</li>
					<li>Ajout de la notion d'association afin de lister les association régionales</li>
					<li>Ajout de la possibilité d'envoyer un mail général (type newsletter)</li>
					<li>Ajout de la possibilité de bloquer les enregistrement</li>
					<li>Améliorations graphiques (favicon, carte Google, fond, bug bootstrap, gestion du darkmode etc.)</li>
					<li>Améliorations des emails (templating HTML et CSS, standardisation, etc.)</li>
					<li>Améliorations de la gestion des utilisateurs (mail de rappel, suppression, etc.)</li>
					<li>Améliorations de la blacklist des emails afin de réduire la possibilité de s'inscrire avec des email jetable</li>
					<li>Correction orthographiques</li>
					<li>Ajout de la LICNECE</li>
				</ul>
			</p>

			<h3>[2.0.2] - 23/10/2022 - VERSION 2.0.2</h3>
			<p>
				<ul>
					<li>Retrait adresse email et ajout formulaire de contact</li>
					<li>Améliorations graphiques</li>
					<li>Améliorations SEO</li>
					<li>Ajout FA icons</li>
				</ul>
			</p>

			<h3>[2.0.1] - 12/09/2022 - VERSION 2.0.1</h3>
			<p>
				<ul>
					<li>Gestion des erreurs (404, 403 et 500) via un template maison</li>
					<li>Correctifs mineurs divers</li>
					<li>Nouveau sitemap.xml</li>
				</ul>
			</p>

			<h3>[2.0.0] - 09/09/2022 - VERSION 2.0.0</h3>
			<p>
				<ul>
					<li>Ajout d'apache 2 - WSGI</li>
					<li>Ajout MySQL pour la persistance</li>
					<li>Sécurisation pour la production</li>
					<li>Dockerfile pour la production</li>
					<li>Docker-compose de base pour faciliter les usages</li>
				</ul>
			</p>

			<h3>[1.0.2] - 07/09/2022 - VERSION 1.0.2</h3>
			<p>
				<ul>
					<li>Améliorations SEO</li>
				</ul>
			</p>

			<h3>[1.0.1] - 06/09/2022 - VERSION 1.0.1</h3>
			<p>
				<ul>
					<li>Modifications graphiques</li>
					<li>Ajout de textes</li>
					<li>Améliorations SEO</li>
					<li>Mise à la norme partielle</li>
				</ul>
			</p>

			<h3>[1.0.0] - 02/09/2022 - VERSION 1.0.0</h3>
			<p>
				<ul>
					<li>Ajout de la fonctionnalité Récupération du mot de passe en cas de perte</li>
					<li>Correctif de bugs</li>
					<li>Modifications graphiques</li>
					<li>Ajout de variables d'environnements pour passage en Production (DEBUG, SECRET_KEY)</li>
				</ul>
			</p>

			<h3>[0.1.1] - 19/08/2022 - Alpha fermée</h3>
			<p>
				<ul>
					<li>Ajout de l'ancien mot de passe dans le processus de changement de mot de passe</li>
					<li>Ajout de la fonctionnalité Recherche par username ou par lieu</li>
					<li>Optimisations SEO (titres h1, images, etc.)</li>
					<li>UI Twitter NSFW</li>
					<li>Nettoyage CKEditor</li>
					<li>Meilleure gestion des liens TG et Twitter</li>
					<li>Ajout de questions à la FAQ</li>
					<li>Changement affichage après enregistrement</li>
					<li>Modifications graphiques</li>
				</ul>
			</p>

			<h3>[0.1.0] - 18/08/2022 - Alpha fermée</h3>
			<p>
				<ul>
					<li>Modification du schéma des utilisateurs</li>
					<li>Ajout de la persistance des données</li>
					<li>Ajout de fonctionnalités d'administration</li>
					<li>Ajout de pages (legal, changelog, etc.)</li>
					<li>Optimisations SEO</li>
					<li>Modifications graphiques</li>
				</ul>
			</p>

			<h3>[0.0.1] - 14/08/2022 - Alpha fermée</h3>
			<p>Ouverture de l'application pour les tests techniques et fonctionnels.</p>

		</div>
		<div class="col-md-12">
			<h2>Gitlab</h2>
			<p>Le code du projet est ouvert à la consultation sur <a href="https://gitlab.com/GuillaumeKoenigTncy/furmap">Gitlab</a>.</p>
		</div>

		<div class="col-md-12">
			<h2>Licence Logiciel</h2>
			<p>Le code source produit pour la réalisation de ce projet reste la prorpriété intellectuelle de son créateur, KOENIG Guillaume.</p>
			<p>Le code source est distribué sous la licnce GNU GPL version 3, dont la définition est disponible <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.fr.html">ICI</a>. La licence est aussi présente dans un fichier LICENCE à la racine du projet sur <a href="https://gitlab.com/GuillaumeKoenigTncy/furmap">Gitlab</a>.</p>
			<p>L'utilisation du code source et sa modification sont autorisé dans le respect de la licence GNU GPL version 3. À noter qu'il s'agit d'une licence à fort CopyLeft. Toutes les productions réalisées devront respecter cette licence. Aussi, le code source ne peut-être utilsé dans un outil propriétaire.</p>
		</div>

	</div>
    <hr class="featurette-divider">
</div>
{% endblock %}