{% extends "base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block desc %}Mentions légales{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe featurette p-2">
		<div class="col-md-12">
			<h1 class="featurette-heading text-center">Politique des cookies</h1>
		</div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette p-3">
		<div class="col-md-12">
			<br>
			<h2>Usage des cookies</h2>
			<p>FurMap.fr n'utilise que les cookies de <b>Google Analytics</b>. Google Analytics est un service gratuit d'analyse d'audience d'un site Web. N'ayant <b>pas de publicité</b> sur FurMap.fr il nous permet simplement de <b>réaliser des statistiques</b> sur l'origine des visiteurs.</p>
			<p>L'origine est déterminée grâce à votre <b>adresse IP</b>, qui est, selon le RGPD une <b>donnée personnelle</b>. Aussi, votre <b>consentement est nécessaire</b> pour pouvoir collecter cette information.</p>
			<br>
			<p>Actuellement, votre paramètre de cookie est : {% if cookie_consent == "no" %}Vous n'acceptez pas les Cookies !{% else %}Vous acceptez les cookies !{% endif %}</p>
			<br>
			<p>Vous pouvez modifier votre préférence de cookie en cliquant sur les boutons ci-dessous.</p>
			<p class="text-center">
				<form id="form-profile" class="form row" action="#" method="post">
					<button id="cookie-allow" name="yes" class="w-100 btn btn-success btn-sm">Accepter les cookies</button>
				</form>
				<br>
				<form id="form-profile" class="form row" action="#" method="post">
					<button id="cookie-disallow" name="no" class="w-100 btn btn-danger btn-sm">Refuser les cookies</button>
				</form>
			</p>
		</div>
    </div>
</div>
{% endblock %}