{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block desc %}FAQ{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe">
        <div class="featurette p-2">
            <div class="col-md-12">
                <h1 class="featurette-heading text-center">Foire aux questions</h1>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="featurette p-3">
            <div class="col-md-12">
                <h2>Comment sont stockées mes adresses ?</h2>
                <p>
                    Lorsque vous ajoutez un point sur la carte, vous entrez une adresse (numéro, rue, code postal et ville). 
                    Cette adresse est traduite en coordonnées (latitude et longitude) qui seront utilisées pour être affichées. 
                    Afin de protéger votre vie privée, les coordonnées sont modifiées de manière aléatoire dans le but de décentrer le point d'origine.
                </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="featurette p-3">
            <div class="col-md-12">
                <h2>Suis-je obligé de transmettre une adresse complète ?</h2>
                <p>
                    Non ! Lorsque vous ajoutez un point à la carte, vous pouvez entrer une adresse complète (numéro, rue, code postal et ville) mais ce n'est pas nécessaire. Seule la ville est obligatoire afin de vous localiser.
                </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="featurette p-3">
            <div class="col-md-12">
                <h2>J'ai validé mon email, mais je ne vois pas la carte. Que faire ?</h2>
                <p>
                    Si vous avez validé votre email, vous devez avoir accès à la carte. Si vous n'avez pas reçu d'email nous vous invitons à vous rendre dans votre profil et à le modifier. Si malgré tout, vous ne voyez pas la carte des membres, votre compte a peut-être été restreint par l'administrateur. Cela peut se produire s'il existe des doutes sur votre identité ou sur votre compte. Dans ce cas, veuillez contactez l'administrateur.
                </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
        <div class="featurette p-3">
            <div class="col-md-12">
                <h2>Je ne peux plus me connecter... Que se passe-t-il ?</h2>
                <p>
                    Il est possible que votre compte ne soit plus accessible en raison de problèmes techniques. Il est aussi possible que vous ayez été banni par l'administrateur de site. Dans ce cas, vous ne serez pas notifié de votre bannissement. Le bannissement reste une mesure exceptionnelle visant à protéger la communauté. Dans ce cas, veuillez contactez l'administrateur.
                </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}