{% extends "base.html" %}
{% block title %}Mot de passe oublié{% endblock %}
{% block desc %}Mot de passe oublié{% endblock %}
<meta name="robots" content="noindex"/>
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6 bg-dark mt-5">
                <div id="login-box" class="col-md-12  p-5">
                    <form id="login-form" class="form" action="#" method="post">
                        <h1 class="text-center ">Mot de passe perdu</h1>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% if messages[0] == "Email envoyé !" %}
                                    <div class="alert alert-success mt-4 mb-4 text-center fw-bold">
                                        {{ messages[0] }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-danger mt-4 mb-4 text-center fw-bold">
                                        {{ messages[0] }}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-at"></i></span>
                            <input required type="email" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group mt-4 text-center">
                            <input type="submit" name="submit" class="btn btn-primary btn-md" value="Envoyer l'email de récupération">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}