{% extends "base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block desc %}Mentions légales{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe featurette p-2">
		<div class="col-md-12">
			<h1 class="featurette-heading text-center">Protection des données & RGPD</h1>
		</div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette p-3 mb-5">
		<div class="col-md-12">
			<br>
			<h2>Protection des données personnelles & RGPD</h2>
			<p>À l'exception de l'email qui est utilisé pour la création de votre comte et la connexion au site, aucune donnée personnelle n'est collectée.</p>
			<p>Votre adresse email peut-être occasionnellement utilisée par l'équipe du FurMap.fr pour vous faire parvenir des communications relatives au site (note de mise à jour, etc.)</p>
			<p>Votre adresse email est conservée pour une durée illimitée.</p>

			<p>L'adresse postale que vous entrez sur FurMap.fr n'est pas sauvegardée, elle est uniquement utilisée pour récupérer votre localisation (latitude et longitude), qui sera ensuite légèrement modifiée afin de protéger votre vie privée.</p>

			<p>Vous bénéficiez d’un droit d’accès, de rectification, de portabilité, d’effacement de vos données personnelles ou une limitation du traitement de celles-ci.</p>
			<p>Vous pouvez vous opposer au traitement des données vous concernant et disposez du droit de retirer votre consentement à tout moment.</p>
			<p>Vous pouvez à tout moment demander la suppression définitive de vos données personnelles, soit en supprimant votre compte (via votre page de profil), soit en contactant l'équipe en utilisant le formulaire en page d'Accueil.</p>
			<p>Vous avez la possibilité d’introduire une réclamation auprès d’une autorité de contrôle comme la CNIL par exemple.</p>
			
			<br>
			<h2>Procédure d'alerte</h2>
			<p>Si vous constatez une anomalie ou un bug, ou que vous suspectez une violation des données à caractère personnel, vous pouvez contacter l'équipe du FurMap.fr en utilisant le formulaire en page d'Accueil.</p>

			<p>Si une violation venait à être constatée, l'équipe du FurMap informera, dans un délai de 72 h, les utilisateurs inscrits par email. L'équipe procédera aussi, dans un délai de 72 h, à une déclaration auprès de la CNIL.</p>

			<br>
			<h2>Transmission des données personnelles</h2>
			<p>FurMap.fr ne transmet pas ou ne vend pas vos données personnelles à des tiers.</p>

		</div>
    </div>
</div>
{% endblock %}