{% extends "base.html" %}
{% block title %}Acceuil{% endblock %}
{% block desc %}{% endblock %}
{% block head %}
{{ super() }}

<script>
    var my_var = null
    document.addEventListener("DOMContentLoaded", () => {
        console.log("DOM OKAY - READY TO ROCK'N ROLL");
        my_var = document.getElementById("visible-list");
    });
</script>

{% endblock %}
{% block content %}
<div class="container marketing mt-5 text-center">
	<div class="row stripe featurette p-2">
		<h1 class="featurette-heading">FurMap fr - Le nouveau FurMap !</h1>
		<div class="col-md-6">
			<p class="lead lead-center fs-6">Bienvenue sur la nouvelle carte de France des furry !</p>
			<p class="lead lead-center fs-6">Le nouveau fur map localise facilement et prudemment les furries français
				près de toi ! <br> Parles-en autour de toi pour faciliter les rencontres et enrichir la carte !</p>
		</div>
		<div class="col-md-6">
			<p class="lead lead-center fs-6">Welcome on the new French furry map !</p>
			<p class="lead lead-center fs-6">The new fur map easily and securely locates French furries near you ! <br> Talk
				about it around you to facilitate meetings and enrich the map !</p>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-2">
		<div class="col-md-8" id="map">
			<img src="{{ url_for('static',filename='images/map.png') }}" alt="">
		</div>
		<div class="col-md-4 row align-items-center">
			<h2># Furries enregistrés</h2>
			<h3>{{ users }}</h3>

			<h2># Places renseignées</h2>
			<h3>{{ places }}</h3>

			<h2># Associations identifiées</h2>
			<h3>{{ associations }}</h3>

			<a href="{{ url_for('register') }}" class="btn btn-primary" title="Enregistrement">Enregistre-toi !</a>

		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<img class="main-page-img" src="{{ url_for('static',filename='images/wny.webp') }}"
					alt="We Need You Picture" title="We Need You Picture">
			</div>
		</div>
		<div class="col-md-9">
			<h2 class="featurette-heading">FURRY ! Enregistre-toi !</h2>
			<p class="lead lead-justify"><strong>Tu es furry ? Tu es en France ?</strong> Enregistre-toi aujourd'hui ! Après ton enregistrement, accède à la
				carte et rencontre les furries ! Le processus est simple et rapide ! Il te faut seulement une adresse
				email ! L'enregistrement permet de protéger les membres et de réduire les profils nuisibles ! Tu auras
				aussi accès a une liste d'association afin de participer à des évènements dans ta région !</p>
			<a href="{{ url_for('register') }}" class="btn btn-primary" title="Enregistrement">Enregistre-toi !</a>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-9">
			<h2 class="featurette-heading">Simple d'utilisation !</h2>
			<p class="lead lead-justify"><strong>Easy map !</strong> Nous avons conçu cette carte pour qu'elle soit utilisée facilement par tous.
				Son design est volontairement simple. Ses fonctionnalités resteront celle d'une simple FurMap. Nous
				souhaitons mettre en place une IHM nouvelle génération facile d'usage !</p>
		</div>
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<i class="fa-solid fa-hand fa-3x"></i>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<i class="fa-solid fa-vault fa-3x"></i>
			</div>
		</div>
		<div class="col-md-9">
			<h2 class="featurette-heading">Sécurisée !</h2>
			<p class="lead lead-justify">Seuls les membres enregistrés peuvent voir la carte des membres. De plus, nous
				ne sauvegardons pas vos adresses physiques. Nous n'utilisons pas vos adresses email et nous ne les
				commercialisons pas à des entreprises de mailing. Pour ajouter un point à la carte, seul la ville est
				obligatoire afin de pouvoir te retrouver !</p>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-9">
			<h2 class="featurette-heading">Une FurMap !</h2>
			<p class="lead lead-justify">Un seul objectif ! FurMap fr localise les furries près de toi. C'est facile !
				La carte des furries de France ! Ni plus, ni moins :) Nous ne sommes pas un site de rencontre.
				Nous souhaitons juste faciliter les rencontres au sein de notre communauté !
				Nous souhaitons mettre en place une FurMap unique sur tout notre territoire (cela n'est qu'un souhait :p) </p>
			<p class="lead lead-justify"><strong>Notre objectif ? Devenir la nouvelle carte de France du furry fandom !</strong><strong> The new French Furry Map !</strong></p>
		</div>
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<i class="fa-solid fa-map-location-dot fa-3x"></i>
			</div>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<img class="main-page-img" src="{{ url_for('static',filename='images/frflag.webp') }}" loading="lazy"
					alt="FRFlag" title="FRFlag">
			</div>
		</div>
		<div class="col-md-9">
			<h3 class="featurette-heading">Made In France !</h3>
			<p class="lead lead-justify"><strong>French Team !</strong> Le développement est français (le code est open source et disponible sur
				GitLab, toutes les informations sont disponible à la lecture). Les données sont stockées en France (sur
				des serveurs OVH). L'administration est française. Rien n'est partagé à l'étranger ! N'hésitez pas à
				contacter l'équipe d'administration si vous avez des questions ou des remarques !</p>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-9">
			<h3 class="featurette-heading">Un projet Grand-Est Fur !</h3>
			<p class="lead lead-justify">Le nouveau Furmap à d'abord été conçu pour les furries du Grand-Est, le projet est rapidement étendu
				pour permettre à tous les furries français de l'utiliser et de localiser les autres furries de France !
				A terme, l'idée est de proposer ce service en Europe ou dans le monde ! <i>For a furry world !</i></p>
		</div>
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<img class="main-page-img" src="{{ url_for('static',filename='images/logogef.webp') }}" loading="lazy" alt="Logo GEF"
					title="Logo GEF">
			</div>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<img class="main-page-img" src="{{ url_for('static',filename='images/logomidrabestbig.webp') }}"
					loading="lazy" alt="Logo Midrabest" title="Logo Midrabest">
			</div>
		</div>
		<div class="col-md-9">
			<h3 class="featurette-heading">Merci aux testers !</h3>
			<p class="lead lead-justify">
				&lt;&lt; <i>Merci à tous les membres de <a href="http://midrabest.fr/" target="_blank" title="Midrab'est"
						rel="noopener noreferrer">Midrab'Est</a> (l'association Furry du Grand-Est) qui ont participé
					aux tests de ce site web ! C'est grâce à vous que ce site s'est développé aussi vite. Il intègre
					beaucoup de vos remarques et de vos propositions ! Merci à vous autres, que je ne connaissais pas et
					que j'ai découvert, et qui m'ont aidé à rendre ce site meilleur</i> &gt;&gt; <br> Black_Wolf57
			</p>
		</div>
	</div>

	<hr class="featurette-divider">
	<div class="row stripe featurette p-4">
		<div class="col-md-9">
			<form class="row gx-3 gy-2 align-items-center" action="#" method="post">
				<input type="hidden" id="ldig" name="ldig" value={{ldig}}>
				<input type="hidden" id="rdig" name="rdig" value={{rdig}}>
				<div class="col-sm-6">
					<input type="email" class="form-control" id="email" name="email" placeholder="Mon email..."
						required>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="pseudonyme" name="pseudonyme"
						placeholder="Mon pseudonyme...">
				</div>
				<div class="col-sm-12">
					<textarea class="form-control" id="mail_content" name="mail_content" rows="3"
						placeholder="Mon message..." required></textarea>
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="cap" name="cap"
						placeholder="Combien font {{ ldig }} + {{ rdig }} ?" required>
				</div>
				<div class="col-sm-6">
					<input type="submit" name="search" class="btn btn-success btn-md float-end" value="Envoyer">
				</div>
			</form>
		</div>
		<div class="col-md-3">
			<div class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto">
				<i class="fa-solid fa-envelope fa-3x"></i>
			</div>
		</div>
	</div>
	<hr class="featurette-divider">
</div>

<script>
	$(document).ready(function () {
		$.ajax({
			url: '/get_async_map',
			datatype:"json",
			success: function (data) {
				$('#map').html(data["map"]);
			}
		});
	});
</script>

{% endblock %}