{% extends "base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block desc %}Mentions légales{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe featurette p-2">
		<div class="col-md-12">
			<h1 class="featurette-heading text-center">Mentions légales et crédits</h1>
		</div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette p-3 mb-5">
		<div class="col-md-12">
			<h2>Mentions légales</h2>
			<p>Ce site web n'est pas géré par une entreprise. Il est la propriété exclusive de KOENIG Guillaume.</p>
			<p>Tous les contenus de ce site internet - textes, photographies, illustrations, etc. - sont protégés par les lois françaises et internationales du droit d'auteur et pas les lois concernant la propriété intellectuelle. Toute reproduction de ces contenus est interdite sans autorisation écrite au préalable.</p>

			<br>
			<h2>Identification</h2>
			<p>Ce site web est administré et maintenu à jour par KOENIG Guillaume - 54000 Nancy - France</p>

			<br>
			<h2>Hébergement</h2>
			<p>Ce site est hébergé par OVH SAS - 2 Rue Kellermann - 59100 Roubaix - France</p>

			<br>
			<h2>Technologies</h2>
			<p>Ce site utilise des technologies web traditionnelles (HTML5, CSS3, JavaScript et Python). Les frameworks utilisés sont Bootstrap 5 (pour le CSS) et Flask (pour le backend). Le site utilise en partie la police Font-Awesome 5.</p>

			<br>
			<h2>Licence Logiciel</h2>
			<p>Le code source produit pour la réalisation de ce projet reste la propriété intellectuelle de son créateur, KOENIG Guillaume.</p>
			<p>Le code source est distribué sous la licence GNU GPL version 3, dont la définition est disponible <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.fr.html">ICI</a>. La licence est aussi présente dans un fichier LICENCE à la racine du projet sur <a href="https://gitlab.com/GuillaumeKoenigTncy/furmap">Gitlab</a>.</p>
			<p>L'utilisation du code source et sa modification sont autorisées dans le respect de la licence GNU GPL version 3. À noter qu'il s'agit d'une licence à fort CopyLeft. Toutes les productions réalisées devront respecter cette licence. Aussi, le code source ne peut être utilisé dans un outil propriétaire.</p>
		</div>
    </div>
</div>
{% endblock %}