{% extends "base.html" %}
{% block title %}FurMap{% endblock %}
{% block desc %}FurMap{% endblock %}
{% block head %}
{{ super() }}
<script>
function mapCallback() {
    console.log("Map Loaded");
}
</script>    
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDYVtXwBV6fEAs9SijY1x6qeoGjzqlPDJY&callback=mapCallback"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
<script>

var None = null;

var associations =  {{ jsassociations|safe }} ;

var lat = 48.692054;
var lon = 6.184417
var map = null;
var markers = [];

function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
        center: new google.maps.LatLng(lat, lon),
        zoom: 9,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: true,
        scrollwheel: true,
        mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
        },
        navigationControl: true,
        navigationControlOptions: {
            style: google.maps.NavigationControlStyle.ZOOM_PAN
        },
        maxZoom: 15,
        minZoom: 6,
    });

    const infoWindow = new google.maps.InfoWindow({
        content: "",
        disableAutoPan: true,
    });

    for (association in associations) {

        if(associations[association].contact_type == "telegram"){
            link = '<a class="" href="https://t.me/' + associations[association].contact + '" target="_blank"><i class="fa-brands fa-telegram"></i></a>'
        }
        if(associations[association].contact_type == "discord"){
            link = '<a class="" href="https://discordapp.com/users/' + associations[association].contact + '" target="_blank"><i class="fa-brands fa-discord"></i></a>'
        }
        if(associations[association].contact_type == "email"){
            link = '<a class="" href="mailto:"' + associations[association].contact + '" target="_blank"><i class="fa-solid fa-envelope"></i></a>'
        }
        if(associations[association].contact_type == "twitter"){
            link = '<a class="" href="https://twitter.com/' + associations[association].contact + '" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>'
        }
        if(associations[association].contact_type == "autre"){
            link = '<a class="" href="https://twitter.com/' + associations[association].contact + '" target="_blank"><i class="fa-solid fa-otter"></i></a>'
        }

        var marker = new google.maps.Marker({
            position: { lat: associations[association].lat, lng: associations[association].lon },
            title: associations[association].name,
            map: map,
            icon: {                             
                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
            },
            type: "A",
            link: link,
            ct: associations[association].contact_type,
        });

        var contentString = 
        '<div class="infocontent" style="text-align: center;">'+
            '<span class="infolink">' + associations[association].name + " " + link + '</span>'+
        '</div>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        addInfoWindow(marker, contentString);
        markers.push(marker);
    }

    function addInfoWindow(marker, message) {
        var infoWindow = new google.maps.InfoWindow({
            content: message
        });
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.open(map, marker);
        });
        google.maps.event.addListener(map, "click", function(event) {
            infoWindow.close();
        });
    }

    new markerClusterer.MarkerClusterer({ markers, map });
}

window.onload = function () {
    initMap();
};

function showVisibleMarkers() {
    var bounds = map.getBounds();
    var visibleMarker = {};

    for (var i = 0; i < markers.length; i++) {
        var marker = markers[i];
        if ((bounds.contains(marker.getPosition()) === true)) {
            if (!( marker.title in visibleMarker )){
                visibleMarker[marker.title] = [marker.link, marker.ct];
            }
        }
    }

    var html = '<ul class="list-group">';
    for (elem in visibleMarker){
        html = html + "<tr>"
        html = html + '<td>' + elem + '</td>'
        html = html + '<td>' + visibleMarker[elem][0] + '</td>'
        html = html + "</tr>"
    }
    html = html + '</ul>'

    $('#visible-list').html(html);
}

var intervalId = window.setInterval(function () {
    showVisibleMarkers();
}, 2000);

</script>
{% endblock %}
{% block content %}
    <div class="container-fluid pt-5">
        <div class="row gx-5">
            <div class="col-md-8">
                <div id="map" class>
                </div>
            </div>
            <div class="col-md-4 stripe table-responsive">
                <h1 class="featurette-heading">Associations enregistrées</h1>
                <div style="height:500px; overflow-y: scroll;">
                    <table class="table align-middle text-center">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Contact</th>
                            </tr>
                        </thead>
                        <tbody id="visible-list" >
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}