{% extends "base.html" %}
{% block title %}Consultation profil{% endblock %}
{% block desc %}Consultation profil{% endblock %}
{% block head %}
{{ super() }}
<style>
    img {
        max-width: 100%;
    }
</style>
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe featurette p-2">
        <div class="col-md-12">
            <span class="featurette-heading">
                <span class="h1" class="mr-5">{% if requested_user.is_admin %} <i class="fa-solid fa-user-shield"
                        alt="Administrateur" title="Administrateur" style="color:goldenrod;"></i> {% endif %}{{
                    requested_user.username }}</span>
                {% if requested_user.is_artist %}
                <span title="Est artiste">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="50px"
                        viewBox="0 0 1280.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#1095CC"
                            stroke="none">
                            <path d="M8325 12790 c-27 -4 -70 -9 -95 -9 -25 -1 -66 -11 -93 -24 -50 -24
                        -25 1 -1457 -1422 -410 -408 -1422 -1413 -2250 -2235 -2242 -2225 -2759 -2742
                        -2781 -2777 -11 -18 -38 -97 -59 -175 -21 -79 -93 -345 -160 -593 -67 -247
                        -175 -648 -240 -890 -119 -442 -337 -1244 -370 -1365 -17 -63 -128 -473 -155
                        -575 -12 -43 -67 -248 -135 -500 -34 -126 -121 -448 -141 -525 -11 -41 -38
                        -140 -60 -220 -21 -80 -48 -179 -59 -220 -11 -41 -42 -156 -69 -255 -27 -99
                        -72 -268 -101 -375 -28 -107 -60 -225 -71 -263 -45 -152 -35 -224 40 -298 74
                        -75 145 -84 298 -41 38 11 106 30 153 42 47 12 117 31 155 41 39 11 257 69
                        485 129 427 113 528 140 640 170 108 29 874 233 1183 314 137 37 281 75 357
                        96 118 32 2611 697 2795 745 99 26 194 54 210 62 45 22 153 129 2305 2268 404
                        402 1410 1401 2235 2220 2090 2074 1879 1860 1900 1924 12 37 15 67 11 100 -4
                        25 -8 84 -10 131 -3 66 -17 134 -65 305 -34 121 -98 351 -142 510 -44 160 -91
                        309 -105 332 -25 44 -89 83 -135 83 -70 -1 -105 -32 -674 -599 -308 -306
                        -1572 -1562 -2810 -2791 -2911 -2889 -2694 -2670 -2733 -2752 -18 -37 -42
                        -104 -54 -150 -35 -138 -26 -191 100 -643 l110 -390 -72 -73 -72 -73 -900
                        -240 c-494 -132 -1112 -296 -1373 -365 l-474 -126 -421 419 c-1271 1263 -1656
                        1649 -1656 1662 0 8 40 163 89 345 49 182 128 473 175 646 46 173 155 576 241
                        895 86 319 172 636 190 704 l34 124 73 74 c44 44 78 71 87 68 7 -3 193 -53
                        413 -111 448 -118 491 -124 639 -85 158 41 172 52 544 420 489 484 3206 3182
                        4095 4066 415 412 975 968 1243 1235 269 267 497 502 508 522 43 84 13 173
                        -72 216 -25 12 -272 83 -550 157 -518 139 -590 153 -694 135z" />
                            <path d="M10089 11986 c-32 -12 -70 -33 -85 -45 -16 -12 -234 -226 -484 -475
                        -250 -249 -1485 -1475 -2745 -2725 -3090 -3068 -2946 -2923 -2980 -2996 -34
                        -72 -40 -179 -13 -231 27 -50 1734 -1742 1776 -1760 57 -24 164 -15 235 22 68
                        35 -68 -98 1792 1748 4192 4163 4441 4412 4473 4476 37 75 43 180 14 237 -24
                        47 -1715 1728 -1765 1755 -48 26 -149 23 -218 -6z" />
                        </g>
                    </svg>
                </span>
                {% endif %}
                {% if requested_user.is_suiter %}
                <span title="Est fursuitmaker">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="50px"
                        viewBox="0 0 1159.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#1095CC"
                            stroke="none">
                            <path d="M10554 12786 c-205 -64 -559 -342 -1083 -851 -83 -81 -146 -135 -148
                        -127 -16 44 -125 242 -176 317 -76 111 -256 293 -357 360 -160 106 -349 180
                        -537 211 -131 21 -398 21 -518 0 -346 -62 -622 -211 -890 -480 -407 -408 -718
                        -1067 -909 -1926 -25 -113 -49 -226 -52 -252 -4 -27 -8 -48 -10 -48 -1 0 -29
                        26 -61 58 -273 273 -799 492 -1488 621 -957 178 -2030 153 -2952 -69 -757
                        -182 -1274 -512 -1357 -863 -15 -62 -17 -111 -14 -298 3 -203 6 -230 27 -289
                        30 -85 76 -160 145 -237 l56 -61 0 -3157 0 -3156 -57 -65 c-75 -83 -129 -172
                        -153 -255 -18 -59 -20 -96 -20 -342 0 -151 3 -277 8 -279 4 -1 15 -28 26 -58
                        145 -425 940 -794 2016 -934 339 -44 463 -51 960 -51 509 0 614 6 990 56 1069
                        141 1865 519 1991 947 7 23 16 42 21 42 4 0 8 123 8 273 0 235 -3 280 -18 332
                        -29 95 -69 166 -138 248 l-64 77 0 2130 0 2130 63 0 c126 0 220 38 253 103 27
                        52 13 164 -51 392 -57 205 -118 484 -113 515 4 21 1978 1985 2158 2146 74 66
                        353 307 620 534 267 228 512 438 545 467 52 47 60 51 66 35 4 -10 14 -130 23
                        -268 64 -988 43 -2090 -60 -3129 -163 -1654 -509 -3055 -1159 -4695 -254 -641
                        -488 -1161 -853 -1895 -140 -280 -267 -550 -284 -598 -66 -197 -43 -329 66
                        -378 51 -23 91 -24 175 -3 138 34 266 112 586 352 452 340 739 501 1105 620
                        370 120 694 166 1185 165 646 0 1046 -88 1231 -268 133 -130 119 -252 -45
                        -416 -181 -181 -466 -284 -844 -305 -138 -8 -167 -22 -167 -79 0 -51 27 -65
                        125 -65 236 1 539 67 719 157 209 104 386 283 431 437 40 133 -8 273 -132 386
                        -161 148 -423 233 -863 281 -183 21 -779 17 -965 -5 -463 -55 -830 -163 -1192
                        -351 -201 -104 -349 -201 -627 -408 -354 -265 -448 -324 -579 -362 -92 -27
                        -117 -5 -102 92 13 86 56 185 255 583 450 901 745 1566 1036 2338 677 1795
                        988 3283 1110 5307 21 357 30 1385 15 1765 -21 542 -46 845 -71 860 -6 4 36
                        50 93 103 116 108 579 589 713 742 296 338 459 590 472 727 5 55 3 59 -31 93
                        -39 39 -77 44 -153 21z m54 -143 c13 -93 -275 -437 -877 -1046 l-265 -268 -39
                        157 -39 157 69 69 c137 140 572 549 711 671 275 240 430 332 440 260z m-2385
                        -88 c429 -65 770 -345 961 -792 l34 -81 -45 -43 c-95 -93 -315 -342 -718 -814
                        -591 -692 -592 -693 -1274 -1380 -339 -341 -762 -767 -941 -947 -299 -303
                        -325 -326 -334 -305 -5 12 -9 188 -10 402 l0 380 38 60 c68 111 79 163 84 395
                        3 162 0 224 -13 295 l-17 90 31 170 c63 343 161 715 256 980 341 943 844 1482
                        1484 1590 106 18 346 18 464 0z m1076 -1141 c12 -50 21 -100 21 -111 0 -11 10
                        -33 21 -48 l22 -27 -84 -85 c-106 -107 -323 -305 -412 -375 -95 -76 -169 -119
                        -216 -125 -107 -14 -92 87 37 257 113 148 569 628 583 613 4 -4 16 -49 28 -99z
                        m-3469 -3753 c0 -33 56 -271 104 -442 26 -90 49 -187 52 -215 l6 -52 -51 -11
                        c-29 -6 -72 -11 -96 -11 l-45 0 0 368 c0 203 3 372 7 375 12 13 23 7 23 -12z" />
                        </g>
                    </svg>
                </span>
                {% endif %}
                {% if requested_user.has_suit %}
                <span title="A un fursuit">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" height="50px"
                        viewBox="0 0 726.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                        <metadata>
                            Created by potrace 1.15, written by Peter Selinger 2001-2017
                        </metadata>
                        <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="#1095CC"
                            stroke="none">
                            <path d="M3993 12620 c-74 -8 -97 -16 -88 -30 6 -10 -293 -6 -319 5 -13 6 -17
                                5 -12 -3 4 -8 -3 -8 -26 -1 -38 12 -165 20 -190 13 -9 -3 -20 -18 -23 -34 -4
                                -17 -11 -30 -16 -30 -14 0 -11 -20 7 -37 10 -11 12 -18 5 -23 -7 -4 -2 -15 13
                                -29 18 -17 23 -29 17 -45 -4 -11 -7 -28 -6 -36 1 -8 -4 -22 -11 -30 -7 -8 -13
                                -18 -14 -22 -3 -20 -31 -77 -40 -83 -8 -5 -6 -13 6 -26 9 -10 14 -19 9 -19 -4
                                0 -2 -7 5 -15 10 -11 9 -18 -3 -30 -9 -8 -20 -15 -26 -15 -6 0 -15 -9 -21 -19
                                -8 -16 -6 -20 13 -23 19 -3 16 -6 -18 -23 -53 -25 -70 -44 -70 -78 1 -21 -5
                                -29 -21 -33 -13 -3 -30 -14 -40 -25 -17 -19 -16 -19 17 -13 30 5 27 2 -25 -28
                                -71 -39 -81 -56 -30 -50 26 3 35 1 30 -7 -4 -6 -13 -11 -20 -11 -19 0 -67 -40
                                -61 -50 6 -10 -18 -37 -51 -57 -18 -11 -18 -12 4 -12 36 -1 25 -18 -20 -29
                                -24 -6 -52 -18 -63 -26 -19 -14 -16 -15 35 -16 40 -1 50 -4 35 -10 l-20 -9 20
                                -1 c16 -1 15 -3 -7 -12 -16 -5 -28 -14 -28 -19 0 -5 -10 -14 -22 -19 -22 -8
                                -21 -9 7 -10 30 -2 30 -2 5 -10 -14 -4 -18 -9 -10 -10 8 0 -3 -9 -25 -18 l-40
                                -17 45 -5 45 -5 -47 -15 c-50 -15 -54 -30 -10 -30 l27 -1 -25 -15 c-14 -8 -17
                                -13 -7 -10 9 3 17 1 17 -4 0 -6 -7 -10 -16 -10 -8 0 -13 -4 -10 -9 4 -5 0 -12
                                -6 -14 -8 -3 -6 -6 5 -6 32 -2 9 -19 -48 -37 -31 -9 -58 -20 -60 -24 -2 -4 16
                                -14 42 -22 l46 -15 -49 -17 c-27 -9 -66 -22 -87 -27 -22 -5 -46 -16 -54 -24
                                -8 -8 -23 -15 -33 -15 -10 0 -20 -4 -22 -8 -1 -5 -52 -27 -113 -50 -126 -49
                                -141 -56 -138 -71 2 -5 -13 -18 -32 -27 -38 -18 -44 -31 -17 -36 11 -2 1 -11
                                -31 -27 -26 -13 -55 -34 -63 -47 -9 -13 -25 -26 -35 -29 -11 -4 -45 -31 -76
                                -61 -49 -48 -54 -56 -40 -67 14 -11 13 -16 -16 -47 -18 -19 -51 -48 -73 -64
                                -21 -17 -43 -36 -47 -43 -4 -7 -16 -13 -26 -13 -10 0 -31 -12 -47 -26 l-29
                                -26 34 5 c31 4 32 3 16 -10 -11 -7 -25 -13 -32 -13 -23 0 -74 -30 -68 -40 3
                                -5 13 -7 23 -4 9 3 7 -1 -6 -8 -12 -8 -20 -17 -17 -20 3 -3 -7 -9 -22 -13
                                l-28 -7 24 -12 c24 -13 24 -13 -13 -20 -20 -4 -36 -11 -36 -16 0 -6 -7 -10
                                -15 -10 -8 0 -15 -4 -15 -10 0 -5 -12 -10 -26 -10 -40 0 -107 -22 -93 -31 9
                                -5 -1 -23 -32 -60 -24 -29 -44 -56 -44 -61 0 -5 -17 -24 -37 -43 -21 -19 -38
                                -38 -38 -44 0 -21 13 -41 24 -35 6 3 3 -1 -6 -9 -10 -8 -18 -17 -18 -21 0 -4
                                -16 -27 -35 -50 -19 -24 -35 -48 -35 -55 0 -6 -8 -24 -17 -38 -12 -18 -14 -28
                                -6 -30 20 -7 -23 -101 -71 -154 -41 -46 -96 -142 -96 -168 0 -6 5 -11 10 -11
                                20 0 9 -25 -36 -82 -36 -47 -42 -59 -30 -64 14 -5 14 -9 -1 -35 -14 -24 -15
                                -31 -5 -38 10 -6 1 -21 -33 -58 -49 -55 -56 -70 -25 -53 18 10 19 8 16 -20 -2
                                -16 -9 -37 -16 -45 -15 -18 1 -20 19 -2 22 20 -4 -24 -44 -78 -31 -39 -55 -84
                                -55 -100 0 -3 6 -2 14 1 9 3 15 -5 19 -23 5 -22 0 -33 -19 -50 -14 -13 -22
                                -23 -18 -23 4 0 -3 -12 -17 -27 -13 -14 -18 -23 -12 -19 26 15 12 -10 -16 -29
                                -38 -25 -50 -59 -18 -50 17 5 13 -2 -16 -29 -36 -33 -43 -64 -12 -52 20 7 12
                                -20 -14 -48 l-22 -23 28 4 28 5 -23 -19 c-22 -18 -60 -79 -42 -68 6 4 10 2 10
                                -4 0 -6 -13 -17 -30 -26 -19 -10 -27 -20 -24 -30 4 -9 -6 -25 -24 -40 -32 -27
                                -103 -126 -115 -160 -5 -13 4 -8 24 15 27 31 28 31 11 5 -11 -16 -29 -39 -41
                                -49 -24 -22 -29 -45 -6 -26 14 11 14 10 5 -16 l-11 -29 27 25 c27 24 26 24 -4
                                -22 -38 -55 -42 -80 -10 -52 l22 19 -15 -25 c-14 -23 -27 -64 -63 -202 -8 -34
                                -11 -60 -5 -63 5 -4 9 -22 9 -41 0 -40 16 -77 31 -69 5 4 9 -15 9 -43 0 -27 7
                                -69 15 -92 8 -23 15 -57 15 -74 0 -51 19 -106 34 -100 10 4 15 -7 19 -38 11
                                -103 47 -261 61 -272 18 -14 56 -100 56 -129 1 -19 3 -18 15 8 14 30 14 29 9
                                -20 -3 -27 -7 -61 -10 -75 -3 -14 -2 -22 2 -17 9 9 46 -82 38 -95 -9 -14 7
                                -89 17 -82 11 7 12 -37 0 -68 -13 -38 -23 -83 -16 -76 4 4 14 1 21 -7 17 -16
                                18 -78 3 -107 -8 -15 -8 -19 0 -14 15 10 14 -5 -5 -49 -9 -21 -17 -55 -19 -76
                                -4 -32 -1 -37 12 -32 14 6 15 -10 8 -159 -5 -117 -4 -168 4 -172 6 -4 11 -38
                                11 -81 0 -41 5 -86 12 -100 l12 -26 12 28 12 28 1 -37 c1 -37 15 -59 24 -36 3
                                10 6 9 10 -2 3 -8 24 -67 47 -130 23 -63 49 -124 59 -135 23 -25 61 -149 54
                                -175 -6 -21 42 -90 61 -90 22 0 53 -44 70 -100 18 -56 41 -90 60 -90 6 0 19
                                -14 29 -32 15 -26 20 -29 28 -17 6 9 11 11 17 3 17 -25 171 -153 213 -177 78
                                -46 129 -25 77 31 -14 15 -41 63 -61 106 -28 62 -33 84 -26 103 5 13 11 38 14
                                56 4 17 10 36 15 42 5 7 -10 46 -41 104 -45 86 -49 99 -49 162 0 38 3 69 8 69
                                10 0 51 -53 97 -125 113 -179 200 -271 235 -250 5 3 28 -3 52 -14 24 -11 51
                                -22 61 -25 14 -4 17 -12 11 -28 -4 -13 -12 -26 -18 -30 -8 -6 -7 -8 2 -8 16 0
                                16 -47 0 -54 -10 -5 -10 -7 0 -12 8 -4 4 -12 -14 -27 -24 -19 -25 -21 -9 -27
                                16 -6 15 -9 -13 -25 -26 -16 -29 -21 -19 -34 9 -11 9 -15 0 -18 -7 -3 -13 -11
                                -13 -18 0 -8 -15 -24 -32 -37 l-33 -23 47 -5 47 -5 -89 -73 c-68 -57 -106 -98
                                -162 -178 -96 -138 -120 -184 -123 -242 -1 -26 -10 -64 -18 -85 -13 -30 -14
                                -42 -5 -57 10 -15 9 -26 -5 -56 -10 -20 -15 -40 -10 -43 13 -10 15 -32 4 -45
                                -6 -7 -13 -30 -15 -52 -4 -31 -15 -48 -53 -82 -26 -23 -48 -49 -48 -56 0 -8
                                -15 -29 -33 -46 -27 -25 -32 -37 -27 -57 4 -18 -1 -36 -20 -64 -15 -21 -24
                                -43 -20 -49 4 -6 -4 -24 -18 -38 -32 -35 -39 -69 -22 -103 13 -23 13 -28 0
                                -33 -8 -3 -21 -19 -30 -37 l-17 -32 26 7 c42 10 30 -31 -28 -93 -19 -21 -27
                                -35 -19 -38 8 -3 6 -13 -7 -35 -12 -20 -17 -41 -13 -59 3 -16 -2 -46 -10 -67
                                -11 -27 -13 -42 -5 -50 7 -7 7 -16 -1 -29 -7 -14 -7 -23 1 -31 7 -7 9 -12 4
                                -12 -4 0 0 -7 8 -16 21 -21 20 -56 -3 -85 -26 -34 -45 -73 -32 -65 16 10 13
                                -17 -4 -40 -20 -26 -19 -40 2 -23 14 12 16 12 8 0 -4 -8 -12 -31 -16 -50 -4
                                -20 -24 -79 -44 -131 -32 -82 -66 -194 -89 -294 -6 -23 -4 -27 8 -23 26 10 26
                                -6 -4 -94 -15 -46 -26 -87 -24 -91 8 -13 -82 -254 -105 -282 -12 -14 -12 -16
                                2 -10 13 5 13 -3 -4 -61 -11 -37 -18 -69 -15 -72 3 -3 1 -14 -5 -25 -10 -18
                                -9 -19 12 -7 l22 12 -21 -28 c-12 -15 -22 -32 -22 -38 0 -6 -11 -27 -24 -46
                                -24 -35 -50 -133 -27 -101 8 11 9 6 5 -20 -4 -19 -12 -42 -19 -50 -21 -26 -74
                                -212 -80 -279 -3 -40 -13 -77 -26 -98 -32 -51 -47 -264 -24 -319 9 -22 29 -76
                                45 -121 33 -96 76 -173 96 -173 10 0 14 14 14 49 0 27 3 62 6 79 6 28 9 30 61
                                34 54 5 55 4 105 -44 28 -27 63 -75 79 -107 15 -33 32 -62 38 -65 16 -10 39
                                35 46 93 5 38 17 66 39 95 l32 42 47 -53 c31 -33 56 -73 68 -110 12 -32 25
                                -62 30 -68 15 -14 36 18 44 66 9 50 28 69 69 69 33 0 65 26 101 83 15 23 17
                                41 11 111 -8 93 6 124 24 55 14 -50 50 -89 84 -89 46 0 76 -18 76 -44 0 -14 5
                                -37 10 -52 14 -37 27 -22 46 52 18 67 29 84 55 84 32 0 59 69 59 150 0 39 -5
                                81 -11 92 -6 11 -13 39 -15 62 -4 52 -4 40 2 185 5 99 3 136 -11 187 l-17 64
                                31 35 c62 70 88 149 111 330 8 65 7 90 -6 135 -9 30 -19 93 -24 140 -5 47 -11
                                96 -15 110 -7 25 -7 25 9 5 l17 -20 -4 20 c-3 11 -10 36 -16 55 l-11 35 19
                                -24 19 -25 -5 29 c-5 21 -3 26 7 20 16 -10 10 33 -18 125 l-20 65 23 25 c21
                                23 23 30 14 75 -19 101 -19 97 -5 86 10 -8 11 2 8 51 -3 39 -1 59 5 55 6 -4
                                13 11 17 34 4 23 13 51 21 62 8 12 15 31 16 42 0 20 0 20 9 0 9 -23 10 -22 34
                                71 9 33 16 70 16 82 0 12 5 22 10 22 6 0 10 23 10 50 0 35 4 49 13 48 6 -2 12
                                6 12 18 1 12 8 28 17 37 9 9 24 39 33 67 9 27 21 50 26 50 12 0 51 40 64 65 6
                                12 21 20 37 21 19 1 42 17 75 51 26 27 59 58 73 69 14 10 45 43 68 72 24 28
                                50 52 57 52 15 0 83 78 130 149 16 23 40 47 53 52 13 5 20 14 17 19 -10 16 14
                                40 41 40 16 0 31 13 51 43 22 32 34 41 52 39 17 -3 25 4 34 27 6 16 19 32 29
                                34 11 3 31 32 48 71 18 38 36 66 45 66 8 0 15 6 15 13 1 16 31 51 51 59 9 4
                                22 1 28 -5 10 -9 16 -7 27 7 8 11 14 28 14 38 0 10 7 18 15 18 8 0 15 5 15 10
                                0 18 20 11 20 -7 1 -35 29 17 41 76 12 60 28 99 29 71 0 -13 1 -13 10 0 5 8
                                15 15 22 15 7 0 19 28 28 70 10 47 20 70 30 71 32 1 50 17 56 52 6 29 9 33 18
                                20 14 -18 55 -17 66 3 4 8 19 77 34 154 36 189 50 240 63 238 7 -2 19 30 29
                                75 9 42 18 79 20 81 2 2 11 -2 20 -9 21 -18 27 -7 43 75 9 43 18 65 27 65 8 0
                                14 10 14 25 0 14 4 25 9 25 12 0 21 -36 21 -83 0 -20 4 -45 9 -55 6 -9 13 -30
                                16 -46 3 -15 9 -26 12 -22 12 12 43 -49 43 -86 0 -20 5 -40 10 -43 6 -3 10
                                -22 10 -42 0 -29 2 -33 14 -24 9 8 16 8 20 2 11 -17 4 -185 -8 -200 -8 -11 -8
                                -15 1 -18 9 -3 9 -10 -2 -27 -14 -21 -13 -24 10 -36 21 -11 24 -19 21 -47 -4
                                -28 -2 -34 11 -29 11 4 8 -4 -9 -26 -31 -41 -80 -136 -84 -163 -1 -11 -9 -47
                                -17 -80 -8 -33 -18 -83 -21 -112 -4 -42 -2 -51 9 -47 25 10 30 -45 10 -116
                                -11 -38 -21 -108 -23 -166 l-3 -102 30 4 c28 3 31 1 31 -23 0 -14 -4 -42 -9
                                -62 -5 -20 -14 -67 -20 -106 -6 -38 -13 -87 -16 -107 -4 -27 -29 -65 -90 -141
                                -82 -101 -97 -127 -74 -127 6 0 8 -9 4 -21 -4 -12 -8 -31 -10 -42 -1 -12 -8
                                -42 -14 -67 -13 -56 -14 -141 0 -200 14 -66 17 -72 31 -63 29 18 48 12 64 -20
                                9 -17 23 -39 31 -49 8 -9 21 -42 29 -75 9 -32 20 -75 25 -95 10 -41 29 -51 29
                                -17 0 33 17 56 41 54 17 -1 26 -12 37 -43 15 -47 35 -54 54 -20 12 22 12 22
                                20 -12 4 -19 14 -81 22 -138 7 -57 16 -105 19 -108 3 -3 17 -6 32 -8 32 -3 55
                                -47 55 -101 0 -46 11 -96 20 -90 11 7 41 -80 90 -259 24 -87 49 -146 62 -146
                                4 0 8 19 9 43 1 23 4 53 8 66 5 20 9 16 20 -30 17 -67 37 -102 64 -115 15 -6
                                25 -23 30 -49 4 -22 10 -52 14 -68 3 -15 9 -27 14 -27 5 0 9 -10 9 -22 0 -34
                                11 -68 22 -68 5 0 41 -22 81 -48 95 -64 149 -83 265 -92 64 -5 123 -17 172
                                -35 63 -22 92 -27 178 -27 85 -1 106 2 122 17 28 26 143 22 182 -6 15 -11 49
                                -22 76 -26 59 -7 105 14 127 57 22 43 48 38 90 -16 19 -26 35 -51 35 -55 0 -5
                                5 -9 10 -9 15 0 12 81 -4 127 -9 25 -11 45 -5 54 5 8 9 24 9 36 0 12 4 24 10
                                28 17 11 75 -22 112 -63 21 -23 41 -42 44 -42 9 0 -6 80 -22 119 -8 19 -12 36
                                -9 39 10 10 65 -51 76 -85 16 -48 33 -30 26 28 -8 67 -54 156 -105 204 -24 22
                                -54 59 -67 82 -47 79 -175 174 -222 165 -6 -1 -20 8 -30 20 -20 25 -61 55
                                -106 77 -19 10 -24 17 -15 22 14 9 -10 20 -104 49 -61 19 -117 55 -96 62 6 2
                                -6 12 -29 21 -22 8 -43 22 -46 30 -3 8 -22 21 -43 27 -32 11 -35 14 -21 25 14
                                10 12 13 -14 29 -16 9 -29 21 -29 25 0 5 -15 24 -32 43 -18 19 -33 38 -34 43
                                0 4 -11 19 -24 32 -18 18 -19 22 -5 16 21 -8 15 7 -19 46 l-21 24 30 -19 c30
                                -18 30 -18 16 1 -8 11 -28 33 -45 48 -23 21 -25 25 -9 18 21 -11 21 -9 -4 29
                                -15 22 -30 40 -34 40 -14 0 -17 39 -2 42 10 2 5 12 -18 35 -17 18 -28 33 -24
                                33 5 0 1 8 -7 18 -9 10 -15 34 -14 61 1 34 -4 47 -22 62 -13 9 -25 28 -27 40
                                -2 12 -11 29 -20 39 -8 9 -15 22 -15 28 0 6 -13 36 -29 66 -16 31 -25 59 -19
                                62 5 3 -3 18 -18 32 -35 36 -70 105 -55 110 6 2 8 8 5 14 -9 15 -13 88 -4 83
                                12 -7 18 17 10 40 -4 12 -1 25 7 34 9 8 12 23 9 37 -3 12 -1 24 5 26 8 3 6 16
                                -5 43 -11 26 -13 41 -6 45 6 4 8 15 4 25 -5 11 -2 22 7 29 26 20 38 70 23 97
                                -18 33 -17 37 9 41 16 2 22 9 21 25 -1 27 -3 26 31 13 34 -13 53 5 58 54 5 47
                                10 51 40 31 l26 -16 -4 36 c-3 30 -1 34 11 24 11 -9 14 -7 14 10 0 12 5 19 10
                                16 13 -8 13 4 -1 43 -8 23 -7 36 2 54 8 14 14 18 17 10 2 -6 11 -12 19 -12 9
                                0 13 6 9 15 -4 12 -2 13 13 6 14 -8 23 -5 40 13 18 19 22 32 18 67 -2 24 -2
                                34 0 21 7 -38 23 -14 23 35 0 37 3 43 13 34 17 -14 28 -4 19 17 -5 14 -3 15
                                10 4 23 -18 51 -4 45 24 -4 21 -3 22 20 7 20 -14 23 -14 23 0 0 21 29 30 48
                                15 13 -11 15 -9 9 21 -6 27 -4 32 8 27 8 -3 26 5 40 19 22 23 24 30 16 70 -9
                                45 -1 63 20 49 8 -5 10 1 6 18 -7 26 13 55 26 41 4 -3 7 13 7 36 0 40 1 42 28
                                39 23 -3 27 1 30 25 3 23 6 26 18 16 18 -15 18 -13 -6 73 -11 40 -20 81 -20
                                92 0 20 0 20 16 0 14 -18 15 -17 9 19 -9 54 5 157 20 157 15 0 12 103 -4 158
                                -7 22 -6 32 1 32 7 0 8 15 3 43 -4 23 -7 55 -6 71 0 16 -5 38 -11 50 -14 26
                                -20 116 -7 116 13 0 11 38 -5 100 -8 30 -11 56 -6 58 5 2 5 14 -1 28 -5 14 -9
                                37 -9 51 l0 26 26 -24 26 -24 -6 40 c-4 21 -19 60 -35 85 -50 80 -81 138 -81
                                151 0 7 -11 27 -25 45 -25 33 -34 60 -15 49 15 -9 12 8 -5 31 -8 10 -15 26
                                -15 35 0 9 -10 29 -22 45 -17 21 -18 26 -6 22 28 -11 -3 51 -40 80 -25 19 -30
                                27 -20 34 10 6 9 12 -6 23 -14 11 -16 15 -5 15 11 1 10 4 -3 14 -10 7 -18 17
                                -18 22 -1 5 -15 18 -32 29 -18 11 -33 31 -35 44 -5 33 -19 48 -59 63 -19 6
                                -34 16 -34 20 0 5 -12 20 -27 33 l-28 24 30 1 c29 1 29 1 -10 15 -22 8 -41 15
                                -43 15 -2 0 0 4 3 10 3 5 -3 15 -14 22 -14 8 -19 19 -15 33 4 16 -5 29 -36 54
                                -36 29 -40 37 -35 62 5 22 2 31 -10 35 -21 8 -47 73 -41 100 4 15 -1 24 -18
                                32 -27 12 -35 43 -24 82 4 14 12 52 19 85 7 33 21 70 32 82 19 21 26 80 12
                                103 -3 6 -3 24 0 41 l7 31 27 -26 c15 -14 31 -26 36 -26 5 0 19 -12 32 -27 19
                                -24 24 -26 33 -13 7 10 10 11 10 2 0 -8 8 -10 23 -7 15 4 32 -1 51 -16 21 -17
                                35 -20 66 -15 21 3 40 2 42 -4 2 -5 30 -16 62 -24 33 -9 66 -22 75 -30 24 -22
                                68 -114 82 -171 20 -84 16 -79 44 -61 24 16 25 15 25 -3 0 -11 5 -23 11 -26 6
                                -4 8 -14 4 -22 -8 -21 5 -84 16 -77 5 3 9 -7 10 -23 1 -46 43 -158 58 -158 16
                                0 26 -29 42 -125 10 -61 16 -86 35 -135 6 -18 8 -17 14 10 7 28 8 28 15 8 4
                                -12 17 -24 30 -27 16 -4 28 -22 45 -66 12 -33 26 -58 30 -55 25 15 19 -128 -8
                                -180 -17 -34 -17 -114 0 -161 9 -27 8 -38 -12 -79 -13 -26 -34 -57 -47 -68
                                -31 -28 -29 -34 11 -29 46 5 110 61 141 123 14 26 34 53 45 59 11 6 20 21 20
                                33 0 13 7 32 15 43 8 10 15 33 15 49 1 17 7 48 14 70 l12 40 27 -52 c14 -28
                                32 -53 39 -55 19 -7 14 -183 -7 -232 -20 -47 -12 -109 17 -136 19 -17 19 -21
                                4 -72 -8 -30 -31 -72 -51 -95 -41 -49 -42 -53 -11 -53 42 0 118 60 152 120 18
                                30 46 71 63 91 17 20 31 47 31 60 0 13 5 40 11 59 6 19 10 55 10 79 -1 25 5
                                65 13 90 8 26 20 67 26 94 10 38 15 45 26 36 8 -7 14 -31 14 -56 0 -57 35
                                -204 61 -254 10 -21 27 -44 37 -51 38 -26 56 -79 60 -175 2 -51 8 -93 12 -93
                                17 0 50 69 65 135 11 46 14 90 10 134 -4 46 -3 61 4 50 6 -9 13 -53 17 -97 4
                                -45 11 -82 16 -82 5 0 21 26 36 57 24 54 26 67 25 188 -1 72 -4 156 -7 188 -3
                                31 -1 57 3 57 8 0 8 136 1 150 -1 3 -2 9 -1 13 1 5 -7 21 -18 36 -21 30 -21
                                30 -24 136 -1 48 -7 78 -19 95 -10 13 -18 37 -18 52 0 17 -10 37 -27 53 -15
                                14 -24 25 -19 25 5 0 -3 15 -18 34 -28 38 -33 56 -13 56 6 0 3 7 -8 16 -13 9
                                -20 27 -20 47 0 27 -8 38 -61 77 -69 51 -93 83 -99 135 -6 44 -25 74 -63 99
                                -33 22 -73 81 -118 176 -18 36 -48 81 -68 99 -20 19 -36 40 -36 47 0 7 -12 22
                                -27 34 -28 21 -83 98 -83 114 0 5 7 3 15 -4 8 -7 15 -8 15 -2 0 5 -7 15 -15
                                22 -9 7 -14 19 -11 27 3 8 -1 25 -10 38 -9 13 -13 29 -9 34 3 6 -8 32 -26 57
                                -22 32 -28 48 -20 53 8 6 9 15 2 34 -6 15 -8 33 -5 40 2 7 -9 31 -26 52 -34
                                43 -36 50 -15 41 24 -9 17 9 -15 37 -16 15 -30 33 -30 41 0 7 -6 19 -14 25 -7
                                6 -16 26 -20 43 -3 17 -16 45 -29 62 -13 17 -24 44 -25 60 -1 17 -7 33 -13 37
                                -7 4 -8 12 -5 18 4 6 -9 31 -30 56 -20 25 -32 45 -28 45 5 0 -7 14 -26 31 -19
                                17 -29 27 -21 24 10 -6 11 -2 6 15 -5 17 -4 21 6 15 8 -3 3 3 -10 14 -13 12
                                -18 21 -11 21 6 0 -8 15 -32 33 -24 18 -43 41 -43 51 0 9 -27 42 -60 72 -33
                                31 -60 59 -60 63 0 4 -17 24 -37 44 -21 21 -37 41 -36 45 1 4 -6 20 -16 35
                                -16 24 -17 30 -6 37 9 6 13 24 11 51 -1 34 1 40 11 32 10 -9 13 -1 14 42 0 32
                                7 63 17 78 9 15 17 39 17 54 0 19 3 24 9 15 11 -17 24 97 15 123 -5 13 -4 16
                                4 11 15 -9 15 -6 0 51 -10 40 -9 47 6 55 20 11 15 50 -16 113 l-20 40 27 -30
                                c27 -30 30 -21 9 29 -5 14 -4 17 4 12 9 -5 9 -1 3 17 -5 14 -10 50 -10 80 0
                                31 -5 66 -12 79 -7 13 -12 29 -11 35 2 7 -4 26 -13 43 -17 33 -10 40 11 13 12
                                -16 13 -15 4 10 -5 15 -7 27 -4 27 2 0 -2 13 -11 30 -13 26 -14 29 0 24 19 -7
                                19 -7 0 47 -9 24 -25 54 -37 66 -12 13 -22 31 -23 41 0 10 -9 29 -18 42 -9 14
                                -17 30 -17 36 0 15 -79 104 -92 104 -5 0 -33 16 -62 35 -29 19 -68 40 -87 46
                                -43 15 -81 50 -125 117 -19 28 -48 59 -65 67 -16 9 -29 22 -29 31 0 8 -10 28
                                -21 43 -17 23 -22 47 -25 115 l-4 86 33 -4 c51 -7 79 -21 126 -65 24 -23 51
                                -41 58 -41 8 0 11 -5 7 -11 -5 -8 6 -9 37 -5 31 5 40 4 29 -3 -13 -9 -13 -11
                                0 -15 40 -14 98 -26 121 -26 27 0 84 25 94 40 3 5 11 7 18 5 7 -3 26 14 42 38
                                29 40 30 47 32 152 0 61 -3 115 -7 120 -15 19 9 119 55 223 26 59 43 112 40
                                122 -4 13 1 19 22 25 42 10 71 42 93 104 12 31 35 88 52 128 29 67 30 73 15
                                96 -8 13 -41 36 -72 51 -30 15 -68 41 -83 56 -15 16 -49 40 -77 55 -27 14 -59
                                34 -70 45 -27 25 -69 40 -113 40 -75 0 -82 6 -77 64 l5 52 -54 48 c-36 33 -56
                                59 -60 80 -8 39 -37 98 -54 109 -7 5 -29 41 -48 81 -21 45 -44 78 -59 86 -13
                                7 -27 21 -31 32 -4 14 -9 16 -23 8 -16 -8 -33 5 -102 75 -46 47 -87 85 -91 85
                                -4 0 -3 -12 3 -27 l10 -28 -23 22 c-24 22 -47 31 -94 38 -28 4 -96 24 -139 41
                                -18 7 -18 6 -6 -9 16 -20 18 -20 -43 -2 -58 18 -112 19 -122 4 -7 -12 -108 -5
                                -151 12 -17 6 -22 6 -17 -2 5 -8 0 -10 -17 -6 -50 14 -66 14 -136 7z m-1662
                                -4159 c7 11 9 11 9 1 0 -7 5 -10 10 -7 6 4 10 -8 11 -27 0 -18 3 -27 6 -19 4
                                11 7 11 13 0 7 -10 12 -10 23 -1 12 11 18 5 36 -31 12 -24 21 -54 22 -68 0
                                -21 1 -22 8 -5 6 17 9 16 19 -10 6 -16 16 -57 23 -91 11 -58 50 -132 67 -125
                                11 5 20 -40 14 -70 -2 -16 0 -28 5 -28 6 0 13 -18 17 -41 7 -42 27 -81 58
                                -112 14 -13 18 -31 17 -61 -2 -24 3 -58 11 -75 13 -32 19 -34 62 -16 32 13 32
                                -24 0 -118 -22 -66 -31 -110 -31 -157 0 -93 -7 -153 -21 -181 -7 -13 -53 -84
                                -101 -157 -49 -74 -86 -138 -83 -143 3 -5 -8 -35 -25 -66 -23 -43 -28 -59 -19
                                -64 10 -7 10 -11 0 -21 -14 -14 -16 -32 -2 -23 6 3 10 -1 10 -9 0 -18 -17 -30
                                -22 -16 -2 6 -28 13 -58 17 -30 3 -71 14 -90 25 -19 10 -44 18 -54 18 -20 0
                                -20 0 -1 14 19 13 17 15 -20 22 -21 4 -45 12 -52 18 -8 6 -19 16 -26 22 -15
                                12 -37 22 -102 45 -27 9 -44 17 -36 18 11 1 11 4 1 16 -11 13 -8 15 16 16 24
                                1 20 4 -21 16 -112 33 -154 55 -160 85 -4 16 -17 41 -29 56 -13 15 -27 38 -31
                                52 -4 14 -19 38 -32 54 -14 17 -21 35 -18 47 3 10 -1 31 -9 46 -20 39 -25 210
                                -6 198 6 -3 10 0 11 7 0 7 2 37 4 67 2 36 8 59 19 67 17 12 16 30 -3 134 -5
                                25 -8 59 -8 75 0 17 -3 55 -8 85 -8 52 -7 54 9 40 16 -12 19 -12 27 3 6 9 16
                                17 23 17 7 0 12 10 12 23 -1 17 4 21 20 20 12 -1 33 10 49 27 16 17 25 30 22
                                30 -4 0 6 13 23 30 16 16 30 38 30 48 0 10 10 27 22 38 21 19 21 19 14 0 -7
                                -20 -7 -20 14 -1 12 11 35 40 52 66 16 26 43 56 59 68 l29 22 1 -23 c0 -22 1
                                -22 9 -3 5 12 9 14 9 6 1 -9 13 -1 31 19 17 20 30 28 30 19 1 -8 7 -3 14 10 8
                                15 15 19 18 11 2 -7 13 6 23 29 13 26 21 35 24 24 2 -13 5 -13 12 -2z m-57
                                -2233 c-8 -24 -20 -53 -26 -66 -10 -19 -9 -25 2 -32 8 -5 17 -7 21 -4 20 12
                                16 -19 -6 -52 -14 -20 -25 -41 -25 -45 0 -13 14 -11 29 4 7 6 3 -5 -9 -26 -26
                                -45 -46 -60 -38 -29 5 18 2 22 -18 22 -18 0 -25 7 -30 28 -3 15 -10 37 -15 50
                                -12 29 -12 45 0 38 18 -11 42 6 36 25 -5 14 -1 19 14 19 27 0 34 15 15 31 -18
                                15 -38 50 -27 48 24 -4 53 2 48 10 -3 5 5 12 17 14 13 2 24 5 25 6 1 0 -4 -18
                                -13 -41z m-175 -742 c17 -34 19 -49 12 -70 -9 -21 -8 -26 5 -26 8 0 13 -4 9
                                -9 -3 -5 -1 -12 5 -16 5 -3 10 -15 10 -26 0 -18 -4 -17 -52 11 -29 16 -55 35
                                -57 41 -2 8 2 8 17 0 35 -18 43 -13 25 16 -12 18 -13 24 -4 19 11 -7 13 -4 8
                                15 -16 70 -18 89 -9 89 6 0 20 -20 31 -44z m26 -176 c5 -8 11 -8 20 0 9 8 11
                                5 7 -15 -7 -36 -22 -41 -43 -14 -10 13 -19 27 -19 32 0 11 28 8 35 -3z m39
                                -138 c-29 -75 -39 -83 -59 -55 -10 13 -6 27 19 77 48 93 48 93 59 70 6 -15 1
                                -40 -19 -92z m-84 8 c0 -5 -2 -10 -4 -10 -3 0 -8 5 -11 10 -3 6 -1 10 4 10 6
                                0 11 -4 11 -10z m-155 -3710 c16 0 17 -6 12 -50 -3 -27 -16 -71 -28 -97 l-21
                                -48 -18 52 c-23 66 -27 121 -11 151 12 22 14 22 30 8 10 -9 26 -16 36 -16z" />
                        </g>
                    </svg>
                </span>
                {% endif %}
                <span class="float-end">
                    {% if requested_user.id == 1 %}
                    <img style="height: 1em;" src="{{ url_for('static',filename='images/logomidrabestbig.webp') }}"
                        loading="lazy" alt="Logo Midrabest" title="Logo Midrabest">
                    <img style="height: 1em;" src="{{ url_for('static',filename='images/logogef.webp') }}"
                        loading="lazy" alt="Logo GEF" title="Logo GEF">
                    {% endif %}
                </span>
            </span>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-8 row">
            <h2 class="featurette-heading">Profil</h2>
            <div class="col-md-6">

                {% if requested_user.telegram %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-telegram"></i></span>
                    <a class="form-control" href="https://t.me/{{ requested_user.telegram|default('', True) }}"
                        target="_blank">{{ requested_user.telegram|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.discord %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-discord"></i></span>
                    <a class="form-control"
                        href="https://discordapp.com/users/{{ requested_user.discord|default('', True) }}"
                        target="_blank">{{ requested_user.discord|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.twitter %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-twitter"></i></span>
                    <a class="form-control" href="https://twitter.com/{{ requested_user.twitter|default('', True) }}"
                        target="_blank">{{ requested_user.twitter|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.twitternsfw %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;">🔞</span>
                    <a class="form-control"
                        href="https://twitter.com/{{ requested_user.twitternsfw|default('', True) }}" target="_blank">{{
                        requested_user.twitternsfw|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.bluesky %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-solid fa-cloud"></i></span>
                    <a class="form-control" href="" target="_blank">{{ requested_user.bluesky|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.furaffinity %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-solid fa-paw"></i></span>
                    <a class="form-control"
                        href="https://furaffinity.net/user/{{ requested_user.furaffinity|default('', True) }}"
                        target="_blank">{{ requested_user.furaffinity.replace('https://furaffinity.net/user/',
                        '').replace('https://www.furaffinity.net/user/', '')|default('', True) }}</a>
                </div>
                {% endif %}
                <br>
            </div>

            <div class="col-md-6">
                {% if requested_user.instagram %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-instagram"></i></span>
                    <a class="form-control"
                        href="https://www.instagram.com/{{ requested_user.instagram.replace('@', '')|default('', True) }}"
                        target="_blank">{{ requested_user.instagram.replace('@', '')|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.youtube %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-youtube"></i></span>
                    <a class="form-control"
                        href="https://www.youtube.com/{{ requested_user.youtube|default('', True) }}" target="_blank">{{
                        requested_user.youtube|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.tiktok %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-tiktok"></i></span>
                    <a class="form-control" href="https://www.tiktok.com/{{ requested_user.tiktok|default('', True) }}"
                        target="_blank">{{ requested_user.tiktok|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.twitch %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-twitch"></i></span>
                    <a class="form-control" href="https://www.twitch.tv/{{ requested_user.twitch|default('', True) }}"
                        target="_blank">{{ requested_user.twitch|default('', True) }}</a>
                </div>
                {% endif %}
                {% if requested_user.linktree %}
                <div class="input-group mt-4">
                    <span class="input-group-text" style="width:50px;"><i class="fa-solid fa-tree"></i></span>
                    <a class="form-control" href="https://linktr.ee/{{ requested_user.linktree|default('', True) }}"
                        target="_blank">{{ requested_user.linktree|default('', True) }}</a>
                </div>
                {% endif %}
                <br>
            </div>
        </div>

        <div class="col-md-4 mt-4 text-center">
            <div class="mt-5 mb-4">
                <img style="max-width:50%;" src="data:image/png;base64,{{requested_user.profile_picture}}" alt="">
            </div>
        </div>

    </div>
    {% if requested_user.description %}
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Description</h2>
            <div class="form-group mt-4">
                {{ requested_user.description|default('', True)|safe }}
            </div>
        </div>
    </div>
    {% endif %}
    {% if places %}
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-12 pb-5">
            <h2 class="featurette-heading">Places</h2>
            <div id="map"> {{ map | safe }}</div>
        </div>
    </div>
    {% endif %}
    <hr class="featurette-divider">
    <div class="row stripe featurette mb-4">
        <div class="col-md-12">
            <h3 class="featurette-heading">Metadata</h3>
            <div class="mt-4">
                <p><i class="fa-solid fa-calendar-plus" style="margin-right: 10px;"></i> Création le {{
                    requested_user.date_register.strftime('%d/%m/%Y') }}</p>
                <p><i class="fa-solid fa-right-to-bracket" style="margin-right: 10px;"></i> Connexion le {{
                    requested_user.date_last_login.strftime('%d/%m/%Y') }}</p>
                {% if requested_user.is_verified %}
                <p><i class="fa-solid fa-check" style="color:green; margin-right: 10px;"></i> Cet utilisateur a vérifié
                    son email.</p>
                {% else %}
                <p><i class="fa-solid fa-xmark" style="color:red; margin-right: 10px;"></i> Cet utilisateur n'a pas
                    vérifié son email !</p>
                {% endif %}
                {% if requested_user.is_restricted %}
                <p><i class="fa-solid fa-xmark" style="color:red; margin-right: 10px;"></i> Le compte de cet utilisateur
                    est restreint !</p>
                {% else %}
                <p><i class="fa-solid fa-check" style="color:green; margin-right: 10px;"></i> Le compte de cet
                    utilisateur n'est pas restreint.</p>
                {% endif %}
                {% if requested_user.is_blacklisted %}
                <p><i class="fa-solid fa-xmark" style="color:red; margin-right: 10px;"></i> Cet utilisateur est banni !
                </p>
                {% endif %}
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}