{% extends "base.html" %}
{% block title %}FurMap{% endblock %}
{% block desc %}FurMap{% endblock %}
{% block head %}
{{ super() }}

<script>
    var my_var = null
    document.addEventListener("DOMContentLoaded", () => {
        console.log("DOM OKAY - READY TO ROCK'N ROLL");
        my_var = document.getElementById("visible-list");
    });
</script>

{% endblock %}
{% block content %}
    {% if not current_user.is_restricted %}
        <div class="container-fluid pt-5">
            <div class="row gx-5">
                <div class="col-md-8">
                    <div id="map"> {{ map | safe }}</div>
                </div>
                <div class="col-md-4 stripe table-responsive">
                    <h1 class="featurette-heading">Membres sur la carte</h1>
                    <div style="height:500px; overflow-y: scroll;">
                        <table class="table align-middle text-center">
                            <caption>Liste des membres sur la carte</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Label</th>
                                    <th scope="col">Pseudonyme</th>
                                    <th scope="col">Vers le profil...</th>
                                </tr>
                            </thead>
                            <tbody id="visible-list" >
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% elif not current_user.is_verified %}
        <div class="container marketing mt-5">
            <div class="alert alert-primary text-center" role="alert">
                <p class="fw-bold">Nous vous avons envoyé un email pour vérifier votre compte !</p>
                <p>La vérification de compte est un élément important pour vous ainsi que pour les autres membres de la communauté.</p>
                <p>Elle permet de vérifier que vous êtes bien propriétaire de votre compte email.
                <p>Elle permet aussi d'exclure les emails poubelle, jetable ou temporaire qui pourrai cacher un faux compte.</p>
            </div>
        </div>
    {% else %}
        <div class="container marketing mt-5">
            <div class="alert alert-warning text-center" role="alert">
                <p class="fw-bold">Les fonctionnalités de votre de compte son restreintes.</p>
                <p>Cela se produit quand l'adresse email utilisée pour le compte n'est pas vérifiée ou que l'administrateur à restreint votre compte pour des raisons de sécurité.</p>
                <p>Vérifiez vos emails afin de confirmer votre adresse email. Si le problème persiste, contactez l'administrateur du site.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
