{% extends "base.html" %}
{% block title %}Mon profil{% endblock %}
{% block desc %}Mon profil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe featurette p-2">
        <div class="col-md-12">
            <h1 class="featurette-heading text-center">Modifier mon profil</h1>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-8 text-center">
            <h2 class="featurette-heading text-start">Profil</h2>
            <form id="form-profile" class="form row" action="#" method="post">  
                <div class="col-md-6 text-center">
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-telegram"></i></span>
                        <input type="text" name="telegram" id="telegram" class="form-control" placeholder="Telegram" aria-label="Telegram" value="{{ user.telegram|default('', True) }}">
                    </div>
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-discord"></i></span>
                        <input type="text" name="discord" id="discord" class="form-control" placeholder="Discord" aria-label="Discord" value="{{ user.discord|default('', True) }}">
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-twitter"></i></span>
                        <input type="text" name="twitter" id="twitter" class="form-control" placeholder="Twitter (sans le @)" aria-label="Twitter" value="{{ user.twitter|default('', True) }}">
                    </div>
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;">🔞</span>
                        <input type="text" name="twitternsfw" id="twitternsfw" class="form-control" placeholder="Twitter NSFW (sans le @)" aria-label="Twitter NSFW" value="{{ user.twitternsfw|default('', True) }}">
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-solid fa-cloud"></i></span>
                        <input type="text" name="bluesky" id="bluesky" class="form-control" placeholder="bluesky" aria-label="bluesky" value="{% if user.bluesky %}{{ user.bluesky|default('', True) }}{% endif %}">
                    </div>

                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-solid fa-paw"></i></span>
                        <input type="text" name="furaffinity" id="furaffinity" class="form-control" placeholder="Furaffinity" aria-label="Furaffinity" value="{% if user.furaffinity %}{{ user.furaffinity|default('', True) }}{% endif %}">
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-instagram"></i></span>
                        <input type="text" name="instagram" id="instagram" class="form-control" placeholder="instagram" aria-label="instagram" value="{% if user.instagram %}{{ user.instagram|default('', True) }}{% endif %}">
                    </div>
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-youtube"></i></span>
                        <input type="text" name="youtube" id="youtube" class="form-control" placeholder="youtube" aria-label="youtube" value="{% if user.youtube %}{{ user.youtube|default('', True) }}{% endif %}">
                    </div>
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-tiktok"></i></span>
                        <input type="text" name="tiktok" id="tiktok" class="form-control" placeholder="tiktok" aria-label="tiktok" value="{% if user.tiktok %}{{ user.tiktok|default('', True) }}{% endif %}">
                    </div>
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-brands fa-twitch"></i></span>
                        <input type="text" name="twitch" id="twitch" class="form-control" placeholder="twitch" aria-label="twitch" value="{% if user.twitch %}{{ user.twitch|default('', True) }}{% endif %}">
                    </div>
                    <div class="input-group mt-4">
                        <span class="input-group-text" style="width:50px;"><i class="fa-solid fa-tree"></i></span>
                        <input type="text" name="linktree" id="linktree" class="form-control" placeholder="linktree" aria-label="linktree" value="{% if user.linktree %}{{ user.linktree|default('', True) }}{% endif %}">
                    </div>
                    <style>
                        .form-switch .form-check-input {
                            width: 2.5em;
                            height: 1.5em;
                        }
                        .form-check-input {
                            margin-top: 0 !important;
                        }
                        .form-check-label{
                            padding-left: 5px;
                        }
                    </style>
                    <div class="input-group mt-4 d-block">
                        <div class="form-check form-check-inline form-switch">
                            <input class="form-check-input" type="checkbox" id="artist" name="artist" value="artist" {% if user.is_artist %} checked {% endif %}>
                            <label class="form-check-label pl-2" for="artist">Artiste ?</label>
                        </div>
                        <div class="form-check form-check-inline form-switch">
                            <input class="form-check-input" type="checkbox" id="maker" name="maker" value="maker" {% if user.is_suiter %} checked {% endif %}>
                            <label class="form-check-label pl-2" for="maker">Maker ?</label>
                        </div>
                        <div class="form-check form-check-inline form-switch">
                            <input class="form-check-input" type="checkbox" id="fursuit" name="fursuit" value="fursuit" {% if user.has_suit %} checked {% endif %}>
                            <label class="form-check-label" for="fursuit">Fursuiter ?</label>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4 mb-4">
                    <input type="submit" name="submit-profile" class="btn btn-success btn-md" value="Mettre à jour">
                </div>
            </form>
        </div>

        <div class="col-md-4 text-center">
            <h2 class="featurette-heading text-start">Image de profil</h2>
            <form class="form mb-4" enctype="multipart/form-data" action="#" method="POST">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input class="form-control mt-4" type="file" id="file" name="file">
                        </div>
                    </div>
                    <div class="col-sm-12 mt-4">
                        <input type="submit" name="submit-picture" class="btn btn-success btn-md" value="Mettre à jour">
                    </div>
                </div>
            </form>
            <img style="max-width: 200px;" src="data:image/png;base64,{{user.profile_picture}}" alt="">
        </div>

    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Description</h2>
            <form action="#" method="post">
                <div class="form-group mt-4">
                    <textarea class="form-control" name="description" id="editor">
                        {{ user.description|default('', True) }}
                    </textarea>
                </div>
                <input type="submit" name="submit-desc" class="btn btn-success btn-md mt-4 mb-4" value="Mettre à jour">
            </form>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-6">
            <h2 class="featurette-heading">Places</h2>
            <table class="table align-middle" style="color:white">
                <caption>Liste de mes positions sur la carte</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Lat</th>
                        <th scope="col">Lon</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for place in places %}
                    <tr>
                        <th scope="row">{{ place.id }}</th>
                        <td>{{ place.lat }}</td>
                        <td>{{ place.lon }}</td>
                        <td>
                            <form id="form-remove-place-{{place.id}}" class="form" action="#" method="post">
                                <input id="place-{{place.id}}" name="place-id" type="hidden" value="{{place.id}}">
                                <button name="delete-place" type="submit" class="btn btn-danger btn-md"> <i class="fa-solid fa-trash-can"></i> Supprimer </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <form class="row gx-3 gy-2 align-items-center" action="#" method="post">
                <div class="col-sm-12 ">
                    <div class="alert alert-info text-center">
                        <p class="fw-bold"><i class="fa-solid fa-circle-info"></i> Vos adresses ne sont pas sauvegardées et les coordonnées seront légèrement modifiées pour des raisons de confidentialité !</p>
                        <p>Pour plus de détails, rendez-vous dans la <a href="{{ url_for('faq') }}">FAQ</a> :)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="visually-hidden" for="number">Numéro</label>
                    <input type="text" class="form-control" name="number" id="number" placeholder="Numéro">
                </div>
                <div class="col-sm-3">
                    <label class="visually-hidden" for="name">Libellé</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Libellé">
                    </div>
                </div>
                <div class="col-sm-2">
                    <label class="visually-hidden" for="code">Code postal</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="code" id="code"
                            placeholder="Code postal">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="visually-hidden" for="city">Ville</label>
                    <div class="input-group">
                        <input style="background-color: #f5c6cb; border: 2px solid #f8d7da;" required type="text" class="form-control" name="city" id="city" placeholder="Ville*">
                    </div>
                </div>
                <div class="col-auto">
                    <input type="submit" name="add-place" class="btn btn-success btn-md" value="Ajouter">
                </div>
            </form>
            <br>
        </div>
        {% if places %}
            <div class="col-md-6 pb-5 pt-5">
                <div id="map"> {{ map | safe }}</div>
            </div>
        {% endif %}
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger mt-4 text-center fw-bold">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-6">
            <h2 class="featurette-heading">Email</h2>
            <form id="form-security" class="form" action="#" method="post">
                <div class="input-group mt-4">
                    <span class="input-group-text"><i class="fa-solid fa-at"></i></span>
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email" aria-label="Email" value="{{ user.email }}">
                </div>
                <div class="form-group mt-4 text-center">
                    <input type="submit" name="submit-email" class="btn btn-warning btn-md" value="Mettre à jour" onclick="return confirm('Confirmer ?')" >
                </div>
                <br>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="featurette-heading">Mot de passe</h2>
            <form id="form-password" class="form" action="#" method="post">
                <div class="input-group mt-4">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="oldpassword" id="oldpassword" class="form-control" placeholder="Ancien mot de passe" aria-label="Ancien mot de passe" value="">
                </div>
                <div class="input-group mt-4">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe" value="">
                </div>
                <div class="input-group mt-4">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" name="confirmation" id="confirmation" class="form-control" placeholder="Nouveau mot de passe" aria-label="Nouveau mot de passe" value="">
                </div>
                <div class="form-group mt-4 text-center">
                    <input type="submit" name="submit-password" class="btn btn-warning btn-md" value="Mettre à jour" onclick="return confirm('Confirmer ?')" >
                </div>
                <br>
            </form>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe featurette">
        <div class="col-md-6">
            <h2 class="featurette-heading mb-4">Suppression du compte</h2>
            <form id="form-delete" class="row gx-3 gy-2 align-items-center pb-3" action="#" method="post">
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="delete-account" name="delete-account">
                        <label class="form-check-label" for="delete-account">Supprimer mon compte ?</label>
                    </div>
                </div>
                <div class="col-auto">
                    <input type="submit" name="submit-delete" class="btn btn-danger btn-md" value="Supprimer mon compte" onclick="return confirm('Confirmer ?')" >
                </div>
            </form>
        </div>
        <div class="col-md-6 pt-4">
            <div class="alert alert-danger text-center">
                <p class="fw-bold"><i class="fa-solid fa-triangle-exclamation"></i> La suppression du compte est définitive ! Vos données seront effacées et ne pourront plus être récupérées ! </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>
<script src="{{ url_for('static',filename='scripts/ckeditor_minify.js') }}"></script>
{% endblock %}