{% extends "base.html" %}
{% block title %}Recherche{% endblock %}
{% block desc %}Recherche{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5 text-center ">
    <div class="row stripe featurette p-2">
		<div class="col-md-12">
			<h1 class="featurette-heading text-center">Rechercher des membres</h1>
		</div>
    </div>
    <hr class="featurette-divider">
    <div class="row stripe">
		<div class="col-lg-12">
			<form class="row gx-3 gy-2 align-items-center" action="#" method="post">
				<div class="col-sm-4">
					<div class="input-group mt-4">
						<span class="input-group-text" style="width:50px;"><i class="fa-solid fa-user"></i></span>
						<input type="text" class="form-control" name="username" id="username" placeholder="Pseudonyme" value="{{ username|default('', True) }}">
					</div>
				</div>
				<div class="col-sm-1 mt-5">
					OU
				</div>
				<div class="col-sm-4">
					<div class="input-group mt-4">
						<span class="input-group-text" style="width:50px;"><i class="fa-solid fa-city"></i></span>
						<input type="text" class="form-control" name="city" id="city" placeholder="Ville" value="{{ city|default('', True) }}">
					</div>
				</div>
				<div class="col-sm-3 clearfix">
					<div class="mt-4">
						<input type="submit" name="search" class="btn btn-primary btn-md float-end" value="Rechercher"> 
					</div>
				</div>
			</form>
			<br>
		</div>
		<div class="col-lg-12 table-responsive">
			<table class="table align-middle" style="color:white;background-color: rgb(44, 44, 44);">
                <caption>Liste des membres inscrits dans FurMap</caption>
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Pseudonyme</th>
						<th scope="col">Vers le profil...</th>
						<th scope="col">Telegram</th>
						<th scope="col">Twitter</th>
						{% if city %}<th scope="col">Distance</th> {% endif %}
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<th scope="row">{{ user.id }}</th>
						<td>{{ user.username }} </td>
						<td><a class="btn btn-primary btn-sm" style="margin-left:25px;" href="{{ url_for('look_profile', requested_user_id=user.id) }}"><i class="fa-solid fa-id-card"></i></a></td>
						<td>{{ user.telegram|default('', True) }}</td>
						<td>{{ user.twitter|default('', True) }}</td>
						{% if user.distance %}<td>~ {{ user.distance }} km</td> {% endif %} 
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}