{% extends "base.html" %}
{% block title %}Enregistrement{% endblock %}
{% block desc %}Enregistrement{% endblock %}
<meta name="robots" content="noindex"/>
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6 bg-dark mt-5">
                <div id="login-box" class="col-md-12  p-5">
                    <form id="login-form" class="form" action="#" method="post">

                        {% if locked %} <div class="alert alert-danger mt-4 mb-4 text-center fw-bold">En raison d'un incident de sécurité, le système d'adhésion est temporairement désactivé.
                        <br>
                        Plus de détail sur notre <a href="https://twitter.com/furmapfr" target="_blank" rel="noopener noreferrer">Twitter</a> !
                        </div> {% endif %}

                        <h1 class="text-center ">S'enregistrer</h1>
                        {% with messages = get_flashed_messages() %}
                            {% if dbl %}
                                <div class="alert alert-warning mt-4 mb-4 text-center fw-bold">
                                    {{ messages[0] }}
                                </div>
                            {% elif messages %}
                                <div class="alert alert-danger mt-4 mb-4 text-center fw-bold">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            <input required type="text" name="username" id="username" class="form-control" placeholder="Pseudonyme" value="{{ username }}">
                        </div>
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-at"></i></span>
                            <input required type="email" name="email" id="email" class="form-control" placeholder="Email" value="{{ email }}">
                        </div>
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            <input required type="password" name="password" id="password" class="form-control" placeholder="Mot de passe"  value="{{ password }}">
                        </div>
                        <div class="input-group mt-4">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            <input required type="password" name="confirmation" id="confirmation" class="form-control" placeholder="Confirmation du mot de passe"  value="{{ confirmation }}">
                        </div>

                        {% if dbl %}
                            <div class="form-group mt-4 text-center">
                                <input type="checkbox" class="btn-check" autocomplete="off" id="dbl" name="dbl" value="dbl">
                                <label class="btn btn-outline-warning" for="dbl"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i> &nbsp; Je créé mon compte tout de même !</label>
                            </div>
                        {% endif %}

                        <div class="form-group mt-4 text-center">
                            {% if not locked %} <input type="submit" name="submit" class="btn btn-success btn-md" value="S'enregistrer"> {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}