{% extends "base.html" %}
{% block title %}Réinitialiser le mot de passe{% endblock %}
{% block desc %}Réinitialiser le mot de passe{% endblock %}
<meta name="robots" content="noindex"/>
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6 bg-dark mt-5">
                <div id="login-box" class="col-md-12  p-5">
                    <form id="login-form" class="form" action="#" method="post">
                        <h1 class="text-center ">Mot de passe perdu</h1>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-danger mt-4 mb-4 text-center fw-bold">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                        {% endwith %}
                        {% if not invalid %}
                            <div class="input-group mt-4">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                <input required type="password" name="password" id="password" class="form-control" placeholder="Mot de passe">
                            </div>
                            <div class="input-group mt-4">
                                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                <input required type="password" name="confirmation" id="confirmation" class="form-control" placeholder="Confirmation du mot de passe">
                            </div>

                            <div class="form-group mt-4 text-center">
                                <input type="submit" name="submit" class="btn btn-success btn-md" value="Modifier mon mot de passe">
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}