{% extends "base.html" %}
{% block title %}Liste des utilisateurs{% endblock %}
{% block desc %}Liste des utilisateurs{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5" style="max-width: 1820px;">
    <div class="row stripe featurette p-2">
		<div class="col-md-12">
			<table class="table align-middle" style="color:white;background-color: rgb(44, 44, 44);">
                <caption>Liste des membres inscrits dans FurMap</caption>
				<thead>
				  <tr>
					<th scope="col">#</th>
					<th scope="col">Pseudonyme</th>
					<th scope="col">Email</th>
                    <th scope="col">Vérifié ?</th>
					<th scope="col">Envoyer Mail <br> Vérifier email</th>
					<th scope="col">Vérification <br> Manuelle</th>
					<th scope="col">Restreint ?</th>
					<th scope="col">Restreindre</th>
					<th scope="col">Banni ?</th>
					<th scope="col">Bannir</th>
                    <th scope="col">Supprimer</th>
					<th scope="col">Enregistrement</th>
					<th scope="col">#Places</th>
					<th scope="col">#Réseaux</th>
                    <th scope="col">Description ?</th>
                    <th scope="col">Image ?</th>
					<th scope="col">Envoyer mail <br> Completer profile</th>
				  </tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr {% if (user.noplaces == 0) and (user.nocontact == 0) %} class="alert alert-danger" {% elif (user.pp == "Non") and (user.desc == "Non") %} class="alert alert-warning" {% else %} class="alert alert-success" {% endif %}>
							<th scope="row">{{ user.id }}</th>

							<td><a href="{{ url_for('look_profile', requested_user_id=user.id) }}">{{ user.username }}</a></td>

							<td>{{ user.email }}</td>

							<td>{% if not user.is_verified %}  <i class="fa-solid fa-xmark fa-2x" style="color:red; margin-right: 10px;"></i> {% else %} <i class="fa-solid fa-check fa-2x" style="color:green; margin-right: 10px;"></i> {% endif %}</td>

							<td>
                                <form id="form-relance-confirm" class="form" action="" method="post">
                                    <input id="user-id" name="user-id" type="hidden" value="{{ user.id }}">
                                    <button name="relance-confirm" type="submit" class="btn btn-info" style="color:white;"><i class="fa-solid fa-check"></i></button>
                                </form>
                            </td>

							<td>
								<form id="form-validate" class="form" action="" method="post">
									<input id="user-id" name="user-id" type="hidden" value="{{ user.id }}">
									<button onclick="return confirm('Confirmer ?')" name="validate-user" type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
								</form>
                            </td>

                            <td>{% if user.is_restricted %} <i class="fa-solid fa-check fa-2x" style="color:red; margin-right: 10px;"></i> {% else %} <i class="fa-solid fa-xmark fa-2x" style="color:green; margin-right: 10px;"></i> {% endif %}</td>

							<td>
                                <form id="form-restrain" class="form" action="" method="post">
                                    <input id="user-id" name="user-id" type="hidden" value="{{ user.id }}">
                                    <button name="restrain-user" type="submit" class="btn btn-warning" style="color:white;"><i class="fa-solid fa-circle-exclamation"></i></button>
                                </form>
                            </td>

							<td>{% if user.is_blacklisted %} <i class="fa-solid fa-check fa-2x" style="color:red; margin-right: 10px;"></i> {% else %} <i class="fa-solid fa-xmark fa-2x" style="color:green; margin-right: 10px;"></i> {% endif %}</td>

							<td>
								<form id="form-ban" class="form" action="" method="post">
									<input id="user-id" name="user-id" type="hidden" value="{{ user.id }}">
									<button onclick="return confirm('Confirmer ?')" name="ban-user" type="submit" class="btn btn-danger"><i class="fa-solid fa-ban"></i></button>
								</form>
                            </td>

							<td>
								<form id="form-delete" class="form" action="" method="post">
									<input id="user-id" name="user-id" type="hidden" value="{{ user.id }}">
									<button onclick="return confirm('Confirmer ?')" name="delete-user" type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
								</form>
                            </td>

                            <td>{{ user.date_register.strftime("%d/%m/%Y") }}</td>

                            <td>{% if user.noplaces == 0 %} <span style="color:red">{{ user.noplaces }}</span> {% else %} <span style="color:green">{{ user.noplaces }}</span> {% endif %}</td>

                            <td>{% if user.nocontact == 0 %} <span style="color:red">{{ user.nocontact }}</span> {% else %} <span style="color:green">{{ user.nocontact }}</span> {% endif %}</td>

                            <td>{% if user.desc == "Non" %} <span style="color:red">{{ user.desc }}</span> {% else %} <span style="color:green">{{ user.desc }}</span> {% endif %}</td>

                            <td>{% if user.pp == "Non" %} <span style="color:red">{{ user.pp }}</span> {% else %} <span style="color:green">{{ user.pp }}</span> {% endif %}</td>

							<td>
								<form id="form-relance-profil" class="form" action="" method="post">
									<input id="user-id" name="user-id" type="hidden" value="{{ user.id }}">
									<button name="relance-profil" type="submit" class="btn btn-info" style="color:white;"><i class="fa-solid fa-address-card"></i></button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock %}