{% extends "base.html" %}
{% block title %}Vérification{% endblock %}
{% block desc %}Vérification{% endblock %}
<meta name="robots" content="noindex"/>
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container marketing mt-5">
    <div class="row stripe featurette p-3">
		<div class="col-md-12">
			<h1>Vérification de comtpe</h1>
			<p>
				La vérification de compte est un élèment important pour vous ainsi que pour les autres membres de la communauté.
				Elle permet de vérifier que vous êtes bien propriétaire de votre compte email.
				Elle permet aussi d'exclure les emails poubelle, jetable ou temporaire qui pourrai cacher un faux compte.
			</p>
			<p>
				Cette étape est à réaliser à chaque changement d'email.
			</p>
			<p>
				L'échec de la vérification du compte entraine une réduction des possibilités de celui-ci ainsi que l'envoie d'une notification à l'administrateur.
			</p>
		</div>
    </div>
    <hr class="featurette-divider">
    {% if verified %}
        <div class="alert alert-success text-center" role="alert">
            <p class="fw-bold">Votre adresse email a bien été vérifiée. </p>
            <p>Votre compte est à présent pleinement sécurisé pour vous ainsi que pour les autres membre de la communauté.</p>
            <p class="fw-bold">Pour passer à la suite, si ce n'est pas déjà fait, completez votre profil !</p>
            <a class="btn btn-primary" href="{{ url_for('profile') }}">Completer mon profil !</a>
        </div>
    {% else %}
        <div class="alert alert-danger text-center" role="alert">
            <p class="fw-bold">La vérification a échouée.</p>
            <p>Pour des raison de sécurité, votre compte a été restreint. L'administrateur de site a été notifiés de cet échec.</p>
            <p>Contactez l'administrateur pour plus de détails.</p>
        </div>
    {% endif %}
    <hr class="featurette-divider">
</div>
{% endblock %}